.medium-toolbar-arrow-under:after {
  top: 50px;
  content: "";
  display: none;
  *border-color: #1a2b3f transparent transparent transparent;
}

.medium-toolbar-arrow-over:before {
  top: -8px;
  content: "";
  border-color: transparent transparent #1a2b3f transparent;
}

.medium-editor-toolbar {
  border-radius: 5px;
  background-color: #1a2b3f;
}

.medium-editor-toolbar li {
  padding: 0;
}

.medium-editor-toolbar li:last-child{
  border-radius: 5px; 
}

.medium-editor-toolbar li button {
  color: #fff;
  height: 50px;
  border: none;
  min-width: 50px;
  background-color: transparent;
  *border-right: 1px solid #9ccea6;
  transition: background-color .2s ease-in, color .2s ease-in;
  -webkit-transition: background-color .2s ease-in, color .2s ease-in;
}

.medium-editor-toolbar li button:hover {
  background-color: #ffffff0a;
  color: #fff;
}

.medium-editor-toolbar li .medium-editor-button-active {
  background-color: #ffffff0a;
  color: #fff;
}

.medium-editor-toolbar li .medium-editor-button-last {
  border-right: none;
}

.medium-editor-toolbar-form .medium-editor-toolbar-input {
  color: #fff;
  height: 50px;
  font-weight: 400;
  padding: 6px 16px;
  border-radius: 5px;
  background: #1a2b3f;
}

.medium-editor-toolbar-form .medium-editor-toolbar-input::-webkit-input-placeholder {
  color: #fff;
  color: rgba(255, 255, 255, 0.8);
}

.medium-editor-toolbar-form .medium-editor-toolbar-input:-moz-placeholder {
  /* Firefox 18- */
  color: #fff;
  color: rgba(255, 255, 255, 0.8);
}

.medium-editor-toolbar-form .medium-editor-toolbar-input::-moz-placeholder {
  /* Firefox 19+ */
  color: #fff;
  color: rgba(255, 255, 255, 0.8);
}

.medium-editor-toolbar-form .medium-editor-toolbar-input:-ms-input-placeholder {
  color: #fff;
  color: rgba(255, 255, 255, 0.8);
}

.medium-editor-toolbar-form a {
  color: #fff;
  margin: 10px;
  font-size: 16px;
}

.medium-editor-toolbar-anchor-preview {
  color: #fff;
  font-weight: 400;
  border-radius: 5px;
  padding: 0px 8px;
  line-height: 16px;
  background: #1a2b3f;
}

.medium-editor-placeholder:after {
  color: #cecece;
}