.color-1 {
  color: colors !important;
}
.bg-1 {
  background: colors !important;
}
.border-color-1 {
  border-color: colors !important;
}
.fw-1x {
  font-weight: fontweights;
}
.bdr-1x {
  -webkit-border-radius: bdrs;
  -moz-border-radius: bdrs;
  border-radius: bdrs;
}
.size-1r,
.w-1r {
  width: sizes !important;
}
.size-1r,
.h-1r {
  height: sizes !important;
}
.max-w-1r {
  max-width: sizes !important;
}
.max-h-1r {
  max-height: sizes !important;
}
.p-8 {
  padding: 8px !important;
}
.pt-8,
.py-8 {
  padding-top: 8px !important;
}
.pr-8,
.px-8 {
  padding-right: 8px !important;
}
.pb-8,
.py-8 {
  padding-bottom: 8px !important;
}
.pl-8,
.px-8 {
  padding-left: 8px !important;
}
.m-8 {
  margin: 8px !important;
}
.mt--8 {
  margin-top: -8px !important;
}
.mt-8,
.my-8 {
  margin-top: 8px !important;
}
.mr--8 {
  margin-right: -8px !important;
}
.mr-8,
.mx-8 {
  margin-right: 8px !important;
}
.mb--8 {
  margin-bottom: -8px !important;
}
.mb-8,
.my-8 {
  margin-bottom: 8px !important;
}
.ml--8 {
  margin-left: -8px !important;
}
.ml-8,
.mx-8 {
  margin-left: 8px !important;
}
above(sm)
above(md)
above(lg)
.p-16 {
  padding: 16px !important;
}
.pt-16,
.py-16 {
  padding-top: 16px !important;
}
.pr-16,
.px-16 {
  padding-right: 16px !important;
}
.pb-16,
.py-16 {
  padding-bottom: 16px !important;
}
.pl-16,
.px-16 {
  padding-left: 16px !important;
}
.m-16 {
  margin: 16px !important;
}
.mt--16 {
  margin-top: -16px !important;
}
.mt-16,
.my-16 {
  margin-top: 16px !important;
}
.mr--16 {
  margin-right: -16px !important;
}
.mr-16,
.mx-16 {
  margin-right: 16px !important;
}
.mb--16 {
  margin-bottom: -16px !important;
}
.mb-16,
.my-16 {
  margin-bottom: 16px !important;
}
.ml--16 {
  margin-left: -16px !important;
}
.ml-16,
.mx-16 {
  margin-left: 16px !important;
}
above(sm)
above(md)
above(lg)
.p-24 {
  padding: 24px !important;
}
.pt-24,
.py-24 {
  padding-top: 24px !important;
}
.pr-24,
.px-24 {
  padding-right: 24px !important;
}
.pb-24,
.py-24 {
  padding-bottom: 24px !important;
}
.pl-24,
.px-24 {
  padding-left: 24px !important;
}
.m-24 {
  margin: 24px !important;
}
.mt--24 {
  margin-top: -24px !important;
}
.mt-24,
.my-24 {
  margin-top: 24px !important;
}
.mr--24 {
  margin-right: -24px !important;
}
.mr-24,
.mx-24 {
  margin-right: 24px !important;
}
.mb--24 {
  margin-bottom: -24px !important;
}
.mb-24,
.my-24 {
  margin-bottom: 24px !important;
}
.ml--24 {
  margin-left: -24px !important;
}
.ml-24,
.mx-24 {
  margin-left: 24px !important;
}
above(sm)
above(md)
above(lg)
.p-32 {
  padding: 32px !important;
}
.pt-32,
.py-32 {
  padding-top: 32px !important;
}
.pr-32,
.px-32 {
  padding-right: 32px !important;
}
.pb-32,
.py-32 {
  padding-bottom: 32px !important;
}
.pl-32,
.px-32 {
  padding-left: 32px !important;
}
.m-32 {
  margin: 32px !important;
}
.mt--32 {
  margin-top: -32px !important;
}
.mt-32,
.my-32 {
  margin-top: 32px !important;
}
.mr--32 {
  margin-right: -32px !important;
}
.mr-32,
.mx-32 {
  margin-right: 32px !important;
}
.mb--32 {
  margin-bottom: -32px !important;
}
.mb-32,
.my-32 {
  margin-bottom: 32px !important;
}
.ml--32 {
  margin-left: -32px !important;
}
.ml-32,
.mx-32 {
  margin-left: 32px !important;
}
above(sm)
above(md)
above(lg)
.p-40 {
  padding: 40px !important;
}
.pt-40,
.py-40 {
  padding-top: 40px !important;
}
.pr-40,
.px-40 {
  padding-right: 40px !important;
}
.pb-40,
.py-40 {
  padding-bottom: 40px !important;
}
.pl-40,
.px-40 {
  padding-left: 40px !important;
}
.m-40 {
  margin: 40px !important;
}
.mt--40 {
  margin-top: -40px !important;
}
.mt-40,
.my-40 {
  margin-top: 40px !important;
}
.mr--40 {
  margin-right: -40px !important;
}
.mr-40,
.mx-40 {
  margin-right: 40px !important;
}
.mb--40 {
  margin-bottom: -40px !important;
}
.mb-40,
.my-40 {
  margin-bottom: 40px !important;
}
.ml--40 {
  margin-left: -40px !important;
}
.ml-40,
.mx-40 {
  margin-left: 40px !important;
}
above(sm)
above(md)
above(lg)
.p-48 {
  padding: 48px !important;
}
.pt-48,
.py-48 {
  padding-top: 48px !important;
}
.pr-48,
.px-48 {
  padding-right: 48px !important;
}
.pb-48,
.py-48 {
  padding-bottom: 48px !important;
}
.pl-48,
.px-48 {
  padding-left: 48px !important;
}
.m-48 {
  margin: 48px !important;
}
.mt--48 {
  margin-top: -48px !important;
}
.mt-48,
.my-48 {
  margin-top: 48px !important;
}
.mr--48 {
  margin-right: -48px !important;
}
.mr-48,
.mx-48 {
  margin-right: 48px !important;
}
.mb--48 {
  margin-bottom: -48px !important;
}
.mb-48,
.my-48 {
  margin-bottom: 48px !important;
}
.ml--48 {
  margin-left: -48px !important;
}
.ml-48,
.mx-48 {
  margin-left: 48px !important;
}
above(sm)
above(md)
above(lg)
.p-56 {
  padding: 56px !important;
}
.pt-56,
.py-56 {
  padding-top: 56px !important;
}
.pr-56,
.px-56 {
  padding-right: 56px !important;
}
.pb-56,
.py-56 {
  padding-bottom: 56px !important;
}
.pl-56,
.px-56 {
  padding-left: 56px !important;
}
.m-56 {
  margin: 56px !important;
}
.mt--56 {
  margin-top: -56px !important;
}
.mt-56,
.my-56 {
  margin-top: 56px !important;
}
.mr--56 {
  margin-right: -56px !important;
}
.mr-56,
.mx-56 {
  margin-right: 56px !important;
}
.mb--56 {
  margin-bottom: -56px !important;
}
.mb-56,
.my-56 {
  margin-bottom: 56px !important;
}
.ml--56 {
  margin-left: -56px !important;
}
.ml-56,
.mx-56 {
  margin-left: 56px !important;
}
above(sm)
above(md)
above(lg)
.p-64 {
  padding: 64px !important;
}
.pt-64,
.py-64 {
  padding-top: 64px !important;
}
.pr-64,
.px-64 {
  padding-right: 64px !important;
}
.pb-64,
.py-64 {
  padding-bottom: 64px !important;
}
.pl-64,
.px-64 {
  padding-left: 64px !important;
}
.m-64 {
  margin: 64px !important;
}
.mt--64 {
  margin-top: -64px !important;
}
.mt-64,
.my-64 {
  margin-top: 64px !important;
}
.mr--64 {
  margin-right: -64px !important;
}
.mr-64,
.mx-64 {
  margin-right: 64px !important;
}
.mb--64 {
  margin-bottom: -64px !important;
}
.mb-64,
.my-64 {
  margin-bottom: 64px !important;
}
.ml--64 {
  margin-left: -64px !important;
}
.ml-64,
.mx-64 {
  margin-left: 64px !important;
}
above(sm)
above(md)
above(lg)
.p-72 {
  padding: 72px !important;
}
.pt-72,
.py-72 {
  padding-top: 72px !important;
}
.pr-72,
.px-72 {
  padding-right: 72px !important;
}
.pb-72,
.py-72 {
  padding-bottom: 72px !important;
}
.pl-72,
.px-72 {
  padding-left: 72px !important;
}
.m-72 {
  margin: 72px !important;
}
.mt--72 {
  margin-top: -72px !important;
}
.mt-72,
.my-72 {
  margin-top: 72px !important;
}
.mr--72 {
  margin-right: -72px !important;
}
.mr-72,
.mx-72 {
  margin-right: 72px !important;
}
.mb--72 {
  margin-bottom: -72px !important;
}
.mb-72,
.my-72 {
  margin-bottom: 72px !important;
}
.ml--72 {
  margin-left: -72px !important;
}
.ml-72,
.mx-72 {
  margin-left: 72px !important;
}
above(sm)
above(md)
above(lg)
.p-80 {
  padding: 80px !important;
}
.pt-80,
.py-80 {
  padding-top: 80px !important;
}
.pr-80,
.px-80 {
  padding-right: 80px !important;
}
.pb-80,
.py-80 {
  padding-bottom: 80px !important;
}
.pl-80,
.px-80 {
  padding-left: 80px !important;
}
.m-80 {
  margin: 80px !important;
}
.mt--80 {
  margin-top: -80px !important;
}
.mt-80,
.my-80 {
  margin-top: 80px !important;
}
.mr--80 {
  margin-right: -80px !important;
}
.mr-80,
.mx-80 {
  margin-right: 80px !important;
}
.mb--80 {
  margin-bottom: -80px !important;
}
.mb-80,
.my-80 {
  margin-bottom: 80px !important;
}
.ml--80 {
  margin-left: -80px !important;
}
.ml-80,
.mx-80 {
  margin-left: 80px !important;
}
above(sm)
above(md)
above(lg)
.p-88 {
  padding: 88px !important;
}
.pt-88,
.py-88 {
  padding-top: 88px !important;
}
.pr-88,
.px-88 {
  padding-right: 88px !important;
}
.pb-88,
.py-88 {
  padding-bottom: 88px !important;
}
.pl-88,
.px-88 {
  padding-left: 88px !important;
}
.m-88 {
  margin: 88px !important;
}
.mt--88 {
  margin-top: -88px !important;
}
.mt-88,
.my-88 {
  margin-top: 88px !important;
}
.mr--88 {
  margin-right: -88px !important;
}
.mr-88,
.mx-88 {
  margin-right: 88px !important;
}
.mb--88 {
  margin-bottom: -88px !important;
}
.mb-88,
.my-88 {
  margin-bottom: 88px !important;
}
.ml--88 {
  margin-left: -88px !important;
}
.ml-88,
.mx-88 {
  margin-left: 88px !important;
}
above(sm)
above(md)
above(lg)
.p-96 {
  padding: 96px !important;
}
.pt-96,
.py-96 {
  padding-top: 96px !important;
}
.pr-96,
.px-96 {
  padding-right: 96px !important;
}
.pb-96,
.py-96 {
  padding-bottom: 96px !important;
}
.pl-96,
.px-96 {
  padding-left: 96px !important;
}
.m-96 {
  margin: 96px !important;
}
.mt--96 {
  margin-top: -96px !important;
}
.mt-96,
.my-96 {
  margin-top: 96px !important;
}
.mr--96 {
  margin-right: -96px !important;
}
.mr-96,
.mx-96 {
  margin-right: 96px !important;
}
.mb--96 {
  margin-bottom: -96px !important;
}
.mb-96,
.my-96 {
  margin-bottom: 96px !important;
}
.ml--96 {
  margin-left: -96px !important;
}
.ml-96,
.mx-96 {
  margin-left: 96px !important;
}
above(sm)
above(md)
above(lg)
.p-104 {
  padding: 104px !important;
}
.pt-104,
.py-104 {
  padding-top: 104px !important;
}
.pr-104,
.px-104 {
  padding-right: 104px !important;
}
.pb-104,
.py-104 {
  padding-bottom: 104px !important;
}
.pl-104,
.px-104 {
  padding-left: 104px !important;
}
.m-104 {
  margin: 104px !important;
}
.mt--104 {
  margin-top: -104px !important;
}
.mt-104,
.my-104 {
  margin-top: 104px !important;
}
.mr--104 {
  margin-right: -104px !important;
}
.mr-104,
.mx-104 {
  margin-right: 104px !important;
}
.mb--104 {
  margin-bottom: -104px !important;
}
.mb-104,
.my-104 {
  margin-bottom: 104px !important;
}
.ml--104 {
  margin-left: -104px !important;
}
.ml-104,
.mx-104 {
  margin-left: 104px !important;
}
above(sm)
above(md)
above(lg)
.p-112 {
  padding: 112px !important;
}
.pt-112,
.py-112 {
  padding-top: 112px !important;
}
.pr-112,
.px-112 {
  padding-right: 112px !important;
}
.pb-112,
.py-112 {
  padding-bottom: 112px !important;
}
.pl-112,
.px-112 {
  padding-left: 112px !important;
}
.m-112 {
  margin: 112px !important;
}
.mt--112 {
  margin-top: -112px !important;
}
.mt-112,
.my-112 {
  margin-top: 112px !important;
}
.mr--112 {
  margin-right: -112px !important;
}
.mr-112,
.mx-112 {
  margin-right: 112px !important;
}
.mb--112 {
  margin-bottom: -112px !important;
}
.mb-112,
.my-112 {
  margin-bottom: 112px !important;
}
.ml--112 {
  margin-left: -112px !important;
}
.ml-112,
.mx-112 {
  margin-left: 112px !important;
}
above(sm)
above(md)
above(lg)
.p-120 {
  padding: 120px !important;
}
.pt-120,
.py-120 {
  padding-top: 120px !important;
}
.pr-120,
.px-120 {
  padding-right: 120px !important;
}
.pb-120,
.py-120 {
  padding-bottom: 120px !important;
}
.pl-120,
.px-120 {
  padding-left: 120px !important;
}
.m-120 {
  margin: 120px !important;
}
.mt--120 {
  margin-top: -120px !important;
}
.mt-120,
.my-120 {
  margin-top: 120px !important;
}
.mr--120 {
  margin-right: -120px !important;
}
.mr-120,
.mx-120 {
  margin-right: 120px !important;
}
.mb--120 {
  margin-bottom: -120px !important;
}
.mb-120,
.my-120 {
  margin-bottom: 120px !important;
}
.ml--120 {
  margin-left: -120px !important;
}
.ml-120,
.mx-120 {
  margin-left: 120px !important;
}
above(sm)
above(md)
above(lg)
.p-128 {
  padding: 128px !important;
}
.pt-128,
.py-128 {
  padding-top: 128px !important;
}
.pr-128,
.px-128 {
  padding-right: 128px !important;
}
.pb-128,
.py-128 {
  padding-bottom: 128px !important;
}
.pl-128,
.px-128 {
  padding-left: 128px !important;
}
.m-128 {
  margin: 128px !important;
}
.mt--128 {
  margin-top: -128px !important;
}
.mt-128,
.my-128 {
  margin-top: 128px !important;
}
.mr--128 {
  margin-right: -128px !important;
}
.mr-128,
.mx-128 {
  margin-right: 128px !important;
}
.mb--128 {
  margin-bottom: -128px !important;
}
.mb-128,
.my-128 {
  margin-bottom: 128px !important;
}
.ml--128 {
  margin-left: -128px !important;
}
.ml-128,
.mx-128 {
  margin-left: 128px !important;
}
above(sm)
above(md)
above(lg)
.p-136 {
  padding: 136px !important;
}
.pt-136,
.py-136 {
  padding-top: 136px !important;
}
.pr-136,
.px-136 {
  padding-right: 136px !important;
}
.pb-136,
.py-136 {
  padding-bottom: 136px !important;
}
.pl-136,
.px-136 {
  padding-left: 136px !important;
}
.m-136 {
  margin: 136px !important;
}
.mt--136 {
  margin-top: -136px !important;
}
.mt-136,
.my-136 {
  margin-top: 136px !important;
}
.mr--136 {
  margin-right: -136px !important;
}
.mr-136,
.mx-136 {
  margin-right: 136px !important;
}
.mb--136 {
  margin-bottom: -136px !important;
}
.mb-136,
.my-136 {
  margin-bottom: 136px !important;
}
.ml--136 {
  margin-left: -136px !important;
}
.ml-136,
.mx-136 {
  margin-left: 136px !important;
}
above(sm)
above(md)
above(lg)
.p-144 {
  padding: 144px !important;
}
.pt-144,
.py-144 {
  padding-top: 144px !important;
}
.pr-144,
.px-144 {
  padding-right: 144px !important;
}
.pb-144,
.py-144 {
  padding-bottom: 144px !important;
}
.pl-144,
.px-144 {
  padding-left: 144px !important;
}
.m-144 {
  margin: 144px !important;
}
.mt--144 {
  margin-top: -144px !important;
}
.mt-144,
.my-144 {
  margin-top: 144px !important;
}
.mr--144 {
  margin-right: -144px !important;
}
.mr-144,
.mx-144 {
  margin-right: 144px !important;
}
.mb--144 {
  margin-bottom: -144px !important;
}
.mb-144,
.my-144 {
  margin-bottom: 144px !important;
}
.ml--144 {
  margin-left: -144px !important;
}
.ml-144,
.mx-144 {
  margin-left: 144px !important;
}
above(sm)
above(md)
above(lg)
.p-152 {
  padding: 152px !important;
}
.pt-152,
.py-152 {
  padding-top: 152px !important;
}
.pr-152,
.px-152 {
  padding-right: 152px !important;
}
.pb-152,
.py-152 {
  padding-bottom: 152px !important;
}
.pl-152,
.px-152 {
  padding-left: 152px !important;
}
.m-152 {
  margin: 152px !important;
}
.mt--152 {
  margin-top: -152px !important;
}
.mt-152,
.my-152 {
  margin-top: 152px !important;
}
.mr--152 {
  margin-right: -152px !important;
}
.mr-152,
.mx-152 {
  margin-right: 152px !important;
}
.mb--152 {
  margin-bottom: -152px !important;
}
.mb-152,
.my-152 {
  margin-bottom: 152px !important;
}
.ml--152 {
  margin-left: -152px !important;
}
.ml-152,
.mx-152 {
  margin-left: 152px !important;
}
above(sm)
above(md)
above(lg)
.p-160 {
  padding: 160px !important;
}
.pt-160,
.py-160 {
  padding-top: 160px !important;
}
.pr-160,
.px-160 {
  padding-right: 160px !important;
}
.pb-160,
.py-160 {
  padding-bottom: 160px !important;
}
.pl-160,
.px-160 {
  padding-left: 160px !important;
}
.m-160 {
  margin: 160px !important;
}
.mt--160 {
  margin-top: -160px !important;
}
.mt-160,
.my-160 {
  margin-top: 160px !important;
}
.mr--160 {
  margin-right: -160px !important;
}
.mr-160,
.mx-160 {
  margin-right: 160px !important;
}
.mb--160 {
  margin-bottom: -160px !important;
}
.mb-160,
.my-160 {
  margin-bottom: 160px !important;
}
.ml--160 {
  margin-left: -160px !important;
}
.ml-160,
.mx-160 {
  margin-left: 160px !important;
}
above(sm)
above(md)
above(lg)
.p-168 {
  padding: 168px !important;
}
.pt-168,
.py-168 {
  padding-top: 168px !important;
}
.pr-168,
.px-168 {
  padding-right: 168px !important;
}
.pb-168,
.py-168 {
  padding-bottom: 168px !important;
}
.pl-168,
.px-168 {
  padding-left: 168px !important;
}
.m-168 {
  margin: 168px !important;
}
.mt--168 {
  margin-top: -168px !important;
}
.mt-168,
.my-168 {
  margin-top: 168px !important;
}
.mr--168 {
  margin-right: -168px !important;
}
.mr-168,
.mx-168 {
  margin-right: 168px !important;
}
.mb--168 {
  margin-bottom: -168px !important;
}
.mb-168,
.my-168 {
  margin-bottom: 168px !important;
}
.ml--168 {
  margin-left: -168px !important;
}
.ml-168,
.mx-168 {
  margin-left: 168px !important;
}
above(sm)
above(md)
above(lg)
.p-176 {
  padding: 176px !important;
}
.pt-176,
.py-176 {
  padding-top: 176px !important;
}
.pr-176,
.px-176 {
  padding-right: 176px !important;
}
.pb-176,
.py-176 {
  padding-bottom: 176px !important;
}
.pl-176,
.px-176 {
  padding-left: 176px !important;
}
.m-176 {
  margin: 176px !important;
}
.mt--176 {
  margin-top: -176px !important;
}
.mt-176,
.my-176 {
  margin-top: 176px !important;
}
.mr--176 {
  margin-right: -176px !important;
}
.mr-176,
.mx-176 {
  margin-right: 176px !important;
}
.mb--176 {
  margin-bottom: -176px !important;
}
.mb-176,
.my-176 {
  margin-bottom: 176px !important;
}
.ml--176 {
  margin-left: -176px !important;
}
.ml-176,
.mx-176 {
  margin-left: 176px !important;
}
above(sm)
above(md)
above(lg)
.p-184 {
  padding: 184px !important;
}
.pt-184,
.py-184 {
  padding-top: 184px !important;
}
.pr-184,
.px-184 {
  padding-right: 184px !important;
}
.pb-184,
.py-184 {
  padding-bottom: 184px !important;
}
.pl-184,
.px-184 {
  padding-left: 184px !important;
}
.m-184 {
  margin: 184px !important;
}
.mt--184 {
  margin-top: -184px !important;
}
.mt-184,
.my-184 {
  margin-top: 184px !important;
}
.mr--184 {
  margin-right: -184px !important;
}
.mr-184,
.mx-184 {
  margin-right: 184px !important;
}
.mb--184 {
  margin-bottom: -184px !important;
}
.mb-184,
.my-184 {
  margin-bottom: 184px !important;
}
.ml--184 {
  margin-left: -184px !important;
}
.ml-184,
.mx-184 {
  margin-left: 184px !important;
}
above(sm)
above(md)
above(lg)
.p-192 {
  padding: 192px !important;
}
.pt-192,
.py-192 {
  padding-top: 192px !important;
}
.pr-192,
.px-192 {
  padding-right: 192px !important;
}
.pb-192,
.py-192 {
  padding-bottom: 192px !important;
}
.pl-192,
.px-192 {
  padding-left: 192px !important;
}
.m-192 {
  margin: 192px !important;
}
.mt--192 {
  margin-top: -192px !important;
}
.mt-192,
.my-192 {
  margin-top: 192px !important;
}
.mr--192 {
  margin-right: -192px !important;
}
.mr-192,
.mx-192 {
  margin-right: 192px !important;
}
.mb--192 {
  margin-bottom: -192px !important;
}
.mb-192,
.my-192 {
  margin-bottom: 192px !important;
}
.ml--192 {
  margin-left: -192px !important;
}
.ml-192,
.mx-192 {
  margin-left: 192px !important;
}
above(sm)
above(md)
above(lg)
.p-200 {
  padding: 200px !important;
}
.pt-200,
.py-200 {
  padding-top: 200px !important;
}
.pr-200,
.px-200 {
  padding-right: 200px !important;
}
.pb-200,
.py-200 {
  padding-bottom: 200px !important;
}
.pl-200,
.px-200 {
  padding-left: 200px !important;
}
.m-200 {
  margin: 200px !important;
}
.mt--200 {
  margin-top: -200px !important;
}
.mt-200,
.my-200 {
  margin-top: 200px !important;
}
.mr--200 {
  margin-right: -200px !important;
}
.mr-200,
.mx-200 {
  margin-right: 200px !important;
}
.mb--200 {
  margin-bottom: -200px !important;
}
.mb-200,
.my-200 {
  margin-bottom: 200px !important;
}
.ml--200 {
  margin-left: -200px !important;
}
.ml-200,
.mx-200 {
  margin-left: 200px !important;
}
above(sm)
above(md)
above(lg)
.p-208 {
  padding: 208px !important;
}
.pt-208,
.py-208 {
  padding-top: 208px !important;
}
.pr-208,
.px-208 {
  padding-right: 208px !important;
}
.pb-208,
.py-208 {
  padding-bottom: 208px !important;
}
.pl-208,
.px-208 {
  padding-left: 208px !important;
}
.m-208 {
  margin: 208px !important;
}
.mt--208 {
  margin-top: -208px !important;
}
.mt-208,
.my-208 {
  margin-top: 208px !important;
}
.mr--208 {
  margin-right: -208px !important;
}
.mr-208,
.mx-208 {
  margin-right: 208px !important;
}
.mb--208 {
  margin-bottom: -208px !important;
}
.mb-208,
.my-208 {
  margin-bottom: 208px !important;
}
.ml--208 {
  margin-left: -208px !important;
}
.ml-208,
.mx-208 {
  margin-left: 208px !important;
}
above(sm)
above(md)
above(lg)
.p-216 {
  padding: 216px !important;
}
.pt-216,
.py-216 {
  padding-top: 216px !important;
}
.pr-216,
.px-216 {
  padding-right: 216px !important;
}
.pb-216,
.py-216 {
  padding-bottom: 216px !important;
}
.pl-216,
.px-216 {
  padding-left: 216px !important;
}
.m-216 {
  margin: 216px !important;
}
.mt--216 {
  margin-top: -216px !important;
}
.mt-216,
.my-216 {
  margin-top: 216px !important;
}
.mr--216 {
  margin-right: -216px !important;
}
.mr-216,
.mx-216 {
  margin-right: 216px !important;
}
.mb--216 {
  margin-bottom: -216px !important;
}
.mb-216,
.my-216 {
  margin-bottom: 216px !important;
}
.ml--216 {
  margin-left: -216px !important;
}
.ml-216,
.mx-216 {
  margin-left: 216px !important;
}
above(sm)
above(md)
above(lg)
.p-224 {
  padding: 224px !important;
}
.pt-224,
.py-224 {
  padding-top: 224px !important;
}
.pr-224,
.px-224 {
  padding-right: 224px !important;
}
.pb-224,
.py-224 {
  padding-bottom: 224px !important;
}
.pl-224,
.px-224 {
  padding-left: 224px !important;
}
.m-224 {
  margin: 224px !important;
}
.mt--224 {
  margin-top: -224px !important;
}
.mt-224,
.my-224 {
  margin-top: 224px !important;
}
.mr--224 {
  margin-right: -224px !important;
}
.mr-224,
.mx-224 {
  margin-right: 224px !important;
}
.mb--224 {
  margin-bottom: -224px !important;
}
.mb-224,
.my-224 {
  margin-bottom: 224px !important;
}
.ml--224 {
  margin-left: -224px !important;
}
.ml-224,
.mx-224 {
  margin-left: 224px !important;
}
above(sm)
above(md)
above(lg)
.p-232 {
  padding: 232px !important;
}
.pt-232,
.py-232 {
  padding-top: 232px !important;
}
.pr-232,
.px-232 {
  padding-right: 232px !important;
}
.pb-232,
.py-232 {
  padding-bottom: 232px !important;
}
.pl-232,
.px-232 {
  padding-left: 232px !important;
}
.m-232 {
  margin: 232px !important;
}
.mt--232 {
  margin-top: -232px !important;
}
.mt-232,
.my-232 {
  margin-top: 232px !important;
}
.mr--232 {
  margin-right: -232px !important;
}
.mr-232,
.mx-232 {
  margin-right: 232px !important;
}
.mb--232 {
  margin-bottom: -232px !important;
}
.mb-232,
.my-232 {
  margin-bottom: 232px !important;
}
.ml--232 {
  margin-left: -232px !important;
}
.ml-232,
.mx-232 {
  margin-left: 232px !important;
}
above(sm)
above(md)
above(lg)
.p-240 {
  padding: 240px !important;
}
.pt-240,
.py-240 {
  padding-top: 240px !important;
}
.pr-240,
.px-240 {
  padding-right: 240px !important;
}
.pb-240,
.py-240 {
  padding-bottom: 240px !important;
}
.pl-240,
.px-240 {
  padding-left: 240px !important;
}
.m-240 {
  margin: 240px !important;
}
.mt--240 {
  margin-top: -240px !important;
}
.mt-240,
.my-240 {
  margin-top: 240px !important;
}
.mr--240 {
  margin-right: -240px !important;
}
.mr-240,
.mx-240 {
  margin-right: 240px !important;
}
.mb--240 {
  margin-bottom: -240px !important;
}
.mb-240,
.my-240 {
  margin-bottom: 240px !important;
}
.ml--240 {
  margin-left: -240px !important;
}
.ml-240,
.mx-240 {
  margin-left: 240px !important;
}
above(sm)
above(md)
above(lg)
@-moz-keyframes bgRepeat {
  from {
    background-position: left 0 bottom;
  }
  to {
    background-position: left -1920px bottom;
  }
}
@-webkit-keyframes bgRepeat {
  from {
    background-position: left 0 bottom;
  }
  to {
    background-position: left -1920px bottom;
  }
}
@-o-keyframes bgRepeat {
  from {
    background-position: left 0 bottom;
  }
  to {
    background-position: left -1920px bottom;
  }
}
@keyframes bgRepeat {
  from {
    background-position: left 0 bottom;
  }
  to {
    background-position: left -1920px bottom;
  }
}
@-moz-keyframes rotate {
  from {
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    transform: rotate(0);
  }
  to {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    transform: rotate(0);
  }
  to {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-o-keyframes rotate {
  from {
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    transform: rotate(0);
  }
  to {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rotate {
  from {
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    transform: rotate(0);
  }
  to {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
