@import 'https://fonts.googleapis.com/css?family=Poppins:400,500,600|Baloo'

// Colors
colors = #F49121 #272757 #404040 #909090 #DADADA #F7F7F7 #F7F7FF
color_success = #39C970
color_danger = #CB4102
color_text = #909090
color_light = #F7F7FF

// Fonts
fontsizes = 1rem 1.5rem 3rem 12.5rem
fontweights = 400 500 600
ff_default = 'Poppins', sans-serif
ff_title = 'Baloo', sans-serif
.ff-text
	font-family ff_default
.ff-title
	font-family ff_title

// Borders
bdrs = 1rem 2rem 2.5rem 7.5rem 25rem
with_bdr = true
bdw_default = 2px
		
// Others
sizes = 1rem 2rem 3rem 4rem 5rem 6rem 7rem 8rem 9rem 10rem 11rem 12rem
lts_default = 0px
easing_default = ease-in-out

extralight()
	font-weight 200
.extralight
	extralight()
light()
	font-weight 300
.light
	light()
regular()
	font-weight 400
.regular
	regular()
medium()
	font-weight 500
.medium
	medium()
bold()
	font-weight 700
.bold
	bold()
black()
	font-weight 900
.black
	black()
	
// Icones
fa =
	font-family 'Font Awesome\ 5 Pro'
	font-weight 900
	-moz-osx-font-smoothing grayscale
	-webkit-font-smoothing antialiased
	display inline-block
	font-style normal
	font-variant normal
	text-rendering auto
	line-height 1
	
// Easing variables
ease-in-quad = cubic-bezier(0.55, 0.085, 0.68, 0.53)
ease-in-cubic = cubic-bezier(0.55, 0.055, 0.675, 0.19)
ease-in-quart = cubic-bezier(0.895, 0.03, 0.685, 0.22)
ease-in-quint = cubic-bezier(0.755, 0.05, 0.855, 0.06)
ease-in-expo = cubic-bezier(0.95, 0.05, 0.795, 0.035)
ease-in-circ = cubic-bezier(0.6, 0.04, 0.98, 0.335)
ease-out-quad = cubic-bezier(0.25, 0.46, 0.45, 0.94)
ease-out-cubic = cubic-bezier(0.215, 0.61, 0.355, 1)
ease-out-quart = cubic-bezier(0.165, 0.84, 0.44, 1)
ease-out-quint = cubic-bezier(0.23, 1, 0.32, 1)
ease-out-expo = cubic-bezier(0.19, 1, 0.22, 1)
ease-out-circ = cubic-bezier(0.075, 0.82, 0.165, 1)
ease-in-out-back = cubic-bezier(0.68, -0.55, 0.265, 1.55)
ease-in-out-quad = cubic-bezier(0.455, 0.03, 0.515, 0.955)
ease-in-out-cubic = cubic-bezier(0.645, 0.045, 0.355, 1)
ease-in-out-quart = cubic-bezier(0.77, 0, 0.175, 1)
ease-in-out-quint = cubic-bezier(0.86, 0, 0.07, 1)
ease-in-out-expo = cubic-bezier(1, 0, 0, 1)
ease-in-out-circ = cubic-bezier(0.785, 0.135, 0.15, 0.86)