@import 'https://fonts.googleapis.com/css?family=Poppins:400,500,600|Baloo';
.ff-text {
  font-family: 'Poppins', sans-serif;
}
.ff-title {
  font-family: 'Baloo', sans-serif;
}
.extralight {
  font-weight: 200;
}
.light {
  font-weight: 300;
}
.regular {
  font-weight: 400;
}
.medium {
  font-weight: 500;
}
.bold {
  font-weight: 700;
}
.black {
  font-weight: 900;
}
