.custom-field-control{
	border-radius: 3px;
	border: 1px solid #d2ddec;
	margin-bottom: 1.5rem;
	background-color: #fff;
}

.custom-field-control.is-invalid{
	border: 1px solid #e63757;
}

.custom-field-control .input-group .form-control,
.custom-field-control .input-group-text{
	border: 0;
}

.custom-field-control .col-auto .btn{
	float: left;
	border-radius: 0 !important;
	border: 0;
}

.custom-field-control .confirm{
	background-color: #fff;
	color: #e63757 !important;
}