.opacity-0{opacity: 0;}
.opacity-5{opacity: 0.05;}
.opacity-15{opacity: 0.15;}
.opacity-25{opacity: 0.25;}
.opacity-50{opacity: 0.5;}
.opacity-75{opacity: 0.75;}

.font-14{font-size: 0.85em !important;line-height: 1.5;}
.font-16{font-size: 1em !important;line-height: 1.2;}
.font-18{font-size: 1.1em !important;line-height: 1.2;}
.font-20{font-size: 1.2em !important;line-height: 1.2;}
.font-24{font-size: 1.5em !important;line-height: 1.2;}
.font-32{font-size: 2em !important;line-height: 1.2;}
.font-40{font-size: 2.5em !important;line-height: 1.2;}
.font-48{font-size: 3em !important;line-height: 1.2;}
.font-56{font-size: 3.5em !important;line-height: 1.2;}
.font-64{font-size: 4em !important;line-height: 1.2;}
.font-72{font-size: 4.5em !important;line-height: 1.5;}
.font-96{font-size: 6em !important;line-height: 1.5;}
.font-112{font-size: 7em !important;line-height: 1.5;}
.font-128{font-size: 8em !important;line-height: 1.5;}
.font-144{font-size: 9em !important;line-height: 1.5;}
.font-160{font-size: 10em !important;line-height: 1.5;}

.max-100{max-width: 6.250em;}
.max-150{max-width: 9.375em;}
.max-200{max-width: 12.500em;}
.max-250{max-width: 15.625em;}
.max-300{max-width: 18.750em;}
.max-350{max-width: 21.875em;}
.max-400{max-width: 25.000em;}
.max-450{max-width: 28.125em;}
.max-500{max-width: 31.250em;}
.max-550{max-width: 34.375em;}
.max-600{max-width: 37.500em;}
.max-650{max-width: 40.625em;}

@media only screen and (min-width: 1200px){
    .font-xl-14{font-size: 0.85em !important;line-height: 1.5;}
    .font-xl-16{font-size: 1em !important;line-height: 1.2;}
    .font-xl-18{font-size: 1.1em !important;line-height: 1.2;}
    .font-xl-20{font-size: 1.2em !important;line-height: 1.2;}
    .font-xl-24{font-size: 1.5em !important;line-height: 1.2;}
    .font-xl-32{font-size: 2em !important;line-height: 1.2;}
    .font-xl-40{font-size: 2.5em !important;line-height: 1.2;}
    .font-xl-48{font-size: 3em !important;line-height: 1.2;}
    .font-xl-56{font-size: 3.5em !important;line-height: 1.2;}
    .font-xl-64{font-size: 4em !important;line-height: 1.2;}
    .font-xl-72{font-size: 4.5em !important;line-height: 1.5;}
    .font-xl-96{font-size: 6em !important;line-height: 1.5;}
    .font-xl-112{font-size: 7em !important;line-height: 1.5;}
    .font-xl-128{font-size: 8em !important;line-height: 1.5;}
    .font-xl-144{font-size: 9em !important;line-height: 1.5;}
    .font-xl-160{font-size: 10em !important;line-height: 1.5;}

    .max-xl-100{max-width: 6.250em;}
    .max-xl-150{max-width: 9.375em;}
    .max-xl-200{max-width: 12.500em;}
    .max-xl-250{max-width: 15.625em;}
    .max-xl-300{max-width: 18.750em;}
    .max-xl-350{max-width: 21.875em;}
    .max-xl-400{max-width: 25.000em;}
    .max-xl-450{max-width: 28.125em;}
    .max-xl-500{max-width: 31.250em;}
    .max-xl-550{max-width: 34.375em;}
    .max-xl-600{max-width: 37.500em;}
    .max-xl-650{max-width: 40.625em;}
}

@media only screen and (min-width: 992px){
    .font-lg-14{font-size: 0.85em !important;line-height: 1.5;}
    .font-lg-16{font-size: 1em !important;line-height: 1.2;}
    .font-lg-18{font-size: 1.1em !important;line-height: 1.2;}
    .font-lg-20{font-size: 1.2em !important;line-height: 1.2;}
    .font-lg-24{font-size: 1.5em !important;line-height: 1.2;}
    .font-lg-32{font-size: 2em !important;line-height: 1.2;}
    .font-lg-40{font-size: 2.5em !important;line-height: 1.2;}
    .font-lg-48{font-size: 3em !important;line-height: 1.2;}
    .font-lg-56{font-size: 3.5em !important;line-height: 1.2;}
    .font-lg-64{font-size: 4em !important;line-height: 1.2;}
    .font-lg-72{font-size: 4.5em !important;line-height: 1.5;}
    .font-lg-96{font-size: 6em !important;line-height: 1.5;}
    .font-lg-112{font-size: 7em !important;line-height: 1.5;}
    .font-lg-128{font-size: 8em !important;line-height: 1.5;}
    .font-lg-144{font-size: 9em !important;line-height: 1.5;}
    .font-lg-160{font-size: 10em !important;line-height: 1.5;}

    .max-lg-100{max-width: 6.250em;}
    .max-lg-150{max-width: 9.375em;}
    .max-lg-200{max-width: 12.500em;}
    .max-lg-250{max-width: 15.625em;}
    .max-lg-300{max-width: 18.750em;}
    .max-lg-350{max-width: 21.875em;}
    .max-lg-400{max-width: 25.000em;}
    .max-lg-450{max-width: 28.125em;}
    .max-lg-500{max-width: 31.250em;}
    .max-lg-550{max-width: 34.375em;}
    .max-lg-600{max-width: 37.500em;}
    .max-lg-650{max-width: 40.625em;}
}

@media only screen and (min-width: 768px){
    .font-md-14{font-size: 0.85em !important;line-height: 1.5;}
    .font-md-16{font-size: 1em !important;line-height: 1.2;}
    .font-md-18{font-size: 1.1em !important;line-height: 1.2;}
    .font-md-20{font-size: 1.2em !important;line-height: 1.2;}
    .font-md-24{font-size: 1.5em !important;line-height: 1.2;}
    .font-md-32{font-size: 2em !important;line-height: 1.2;}
    .font-md-40{font-size: 2.5em !important;line-height: 1.2;}
    .font-md-48{font-size: 3em !important;line-height: 1.2;}
    .font-md-56{font-size: 3.5em !important;line-height: 1.2;}
    .font-md-64{font-size: 4em !important;line-height: 1.2;}
    .font-md-72{font-size: 4.5em !important;line-height: 1.5;}
    .font-md-96{font-size: 6em !important;line-height: 1.5;}
    .font-md-112{font-size: 7em !important;line-height: 1.5;}
    .font-md-128{font-size: 8em !important;line-height: 1.5;}
    .font-md-144{font-size: 9em !important;line-height: 1.5;}
    .font-md-160{font-size: 10em !important;line-height: 1.5;}

    .max-md-100{max-width: 6.250em;}
    .max-md-150{max-width: 9.375em;}
    .max-md-200{max-width: 12.500em;}
    .max-md-250{max-width: 15.625em;}
    .max-md-300{max-width: 18.750em;}
    .max-md-350{max-width: 21.875em;}
    .max-md-400{max-width: 25.000em;}
    .max-md-450{max-width: 28.125em;}
    .max-md-500{max-width: 31.250em;}
    .max-md-550{max-width: 34.375em;}
    .max-md-600{max-width: 37.500em;}
    .max-md-650{max-width: 40.625em;}
}

@media only screen and (min-width: 576px){
    .font-sm-14{font-size: 0.85em !important;line-height: 1.5;}
    .font-sm-16{font-size: 1em !important;line-height: 1.2;}
    .font-sm-18{font-size: 1.1em !important;line-height: 1.2;}
    .font-sm-20{font-size: 1.2em !important;line-height: 1.2;}
    .font-sm-24{font-size: 1.5em !important;line-height: 1.2;}
    .font-sm-32{font-size: 2em !important;line-height: 1.2;}
    .font-sm-40{font-size: 2.5em !important;line-height: 1.2;}
    .font-sm-48{font-size: 3em !important;line-height: 1.2;}
    .font-sm-56{font-size: 3.5em !important;line-height: 1.2;}
    .font-sm-64{font-size: 4em !important;line-height: 1.2;}
    .font-sm-72{font-size: 4.5em !important;line-height: 1.5;}
    .font-sm-96{font-size: 6em !important;line-height: 1.5;}
    .font-sm-112{font-size: 7em !important;line-height: 1.5;}
    .font-sm-128{font-size: 8em !important;line-height: 1.5;}
    .font-sm-144{font-size: 9em !important;line-height: 1.5;}
    .font-sm-160{font-size: 10em !important;line-height: 1.5;}

    .max-sm-100{max-width: 6.250em;}
    .max-sm-150{max-width: 9.375em;}
    .max-sm-200{max-width: 12.500em;}
    .max-sm-250{max-width: 15.625em;}
    .max-sm-300{max-width: 18.750em;}
    .max-sm-350{max-width: 21.875em;}
    .max-sm-400{max-width: 25.000em;}
    .max-sm-450{max-width: 28.125em;}
    .max-sm-500{max-width: 31.250em;}
    .max-sm-550{max-width: 34.375em;}
    .max-sm-600{max-width: 37.500em;}
    .max-sm-650{max-width: 40.625em;}
}

.vh-auto{min-height: auto;min-height: auto;}
.vh-10{min-height: 10vh;}
.vh-20{min-height: 20vh;}
.vh-30{min-height: 30vh;}
.vh-40{min-height: 40vh;}
.vh-50{min-height: 50vh;}
.vh-60{min-height: 60vh;}
.vh-70{min-height: 70vh;}
.vh-80{min-height: 80vh;}
.vh-90{min-height: 90vh;}
.vh-100{min-height: 100vh;}    
.vw-auto{width: auto;}
.vw-10{width: 10vw;}
.vw-20{width: 20vw;}
.vw-30{width: 30vw;}
.vw-40{width: 40vw;}
.vw-50{width: 50vw;}
.vw-60{width: 60vw;}
.vw-70{width: 70vw;}
.vw-80{width: 80vw;}
.vw-90{width: 90vw;}
.vw-100{width: 100vw;}

@media (min-width:576px) {
    .vh-sm-auto{min-height: auto;}
    .vh-sm-10{min-height: 10vh;}
    .vh-sm-20{min-height: 20vh;}
    .vh-sm-30{min-height: 30vh;}
    .vh-sm-40{min-height: 40vh;}
    .vh-sm-50{min-height: 50vh;}
    .vh-sm-60{min-height: 60vh;}
    .vh-sm-70{min-height: 70vh;}
    .vh-sm-80{min-height: 80vh;}
    .vh-sm-90{min-height: 90vh;}
    .vh-sm-100{min-height: 100vh;}    
    .vw-sm-auto{width: auto;}
    .vw-sm-10{width: 10vw;}
    .vw-sm-20{width: 20vw;}
    .vw-sm-30{width: 30vw;}
    .vw-sm-40{width: 40vw;}
    .vw-sm-50{width: 50vw;}
    .vw-sm-60{width: 60vw;}
    .vw-sm-70{width: 70vw;}
    .vw-sm-80{width: 80vw;}
    .vw-sm-90{width: 90vw;}
    .vw-sm-100{width: 100vw;}
}

@media (min-width:768px) {
    .vh-md-auto{min-height: auto;}
    .vh-md-10{min-height: 10vh;}
    .vh-md-20{min-height: 20vh;}
    .vh-md-30{min-height: 30vh;}
    .vh-md-40{min-height: 40vh;}
    .vh-md-50{min-height: 50vh;}
    .vh-md-60{min-height: 60vh;}
    .vh-md-70{min-height: 70vh;}
    .vh-md-80{min-height: 80vh;}
    .vh-md-90{min-height: 90vh;}
    .vh-md-100{min-height: 100vh;}    
    .vw-md-auto{width: auto;}
    .vw-md-10{width: 10vw;}
    .vw-md-20{width: 20vw;}
    .vw-md-30{width: 30vw;}
    .vw-md-40{width: 40vw;}
    .vw-md-50{width: 50vw;}
    .vw-md-60{width: 60vw;}
    .vw-md-70{width: 70vw;}
    .vw-md-80{width: 80vw;}
    .vw-md-90{width: 90vw;}
    .vw-md-100{width: 100vw;}
}

@media (min-width:992px) {
    .vh-lg-auto{min-height: auto;}
    .vh-lg-10{min-height: 10vh;}
    .vh-lg-20{min-height: 20vh;}
    .vh-lg-30{min-height: 30vh;}
    .vh-lg-40{min-height: 40vh;}
    .vh-lg-50{min-height: 50vh;}
    .vh-lg-60{min-height: 60vh;}
    .vh-lg-70{min-height: 70vh;}
    .vh-lg-80{min-height: 80vh;}
    .vh-lg-90{min-height: 90vh;}
    .vh-lg-100{min-height: 100vh;}    
    .vw-lg-auto{width: auto;}
    .vw-lg-10{width: 10vw;}
    .vw-lg-20{width: 20vw;}
    .vw-lg-30{width: 30vw;}
    .vw-lg-40{width: 40vw;}
    .vw-lg-50{width: 50vw;}
    .vw-lg-60{width: 60vw;}
    .vw-lg-70{width: 70vw;}
    .vw-lg-80{width: 80vw;}
    .vw-lg-90{width: 90vw;}
    .vw-lg-100{width: 100vw;}
}

@media (min-width:1200px) {
    .vh-xl-auto{min-height: auto;}
    .vh-xl-10{min-height: 10vh;}
    .vh-xl-20{min-height: 20vh;}
    .vh-xl-30{min-height: 30vh;}
    .vh-xl-40{min-height: 40vh;}
    .vh-xl-50{min-height: 50vh;}
    .vh-xl-60{min-height: 60vh;}
    .vh-xl-70{min-height: 70vh;}
    .vh-xl-80{min-height: 80vh;}
    .vh-xl-90{min-height: 90vh;}
    .vh-xl-100{min-height: 100vh;}    
    .vw-xl-auto{width: auto;}
    .vw-xl-10{width: 10vw;}
    .vw-xl-20{width: 20vw;}
    .vw-xl-30{width: 30vw;}
    .vw-xl-40{width: 40vw;}
    .vw-xl-50{width: 50vw;}
    .vw-xl-60{width: 60vw;}
    .vw-xl-70{width: 70vw;}
    .vw-xl-80{width: 80vw;}
    .vw-xl-90{width: 90vw;}
    .vw-xl-100{width: 100vw;}
}

.mw-100{max-width: 100%!important}
.mh-100{max-height: 100%!important}
.m-0{margin: 0!important}
.mt-0,.my-0{margin-top: 0!important}
.mr-0,.mx-0{margin-right: 0!important}
.mb-0,.my-0{margin-bottom: 0!important}
.ml-0,.mx-0{margin-left: 0!important}
.m-1{margin: .1875rem!important}
.mt-1,.my-1{margin-top: .1875rem!important}
.mr-1,.mx-1{margin-right: .1875rem!important}
.mb-1,.my-1{margin-bottom: .1875rem!important}
.ml-1,.mx-1{margin-left: .1875rem!important}
.m-2{margin: .375rem!important}
.mt-2,.my-2{margin-top: .375rem!important}
.mr-2,.mx-2{margin-right: .375rem!important}
.mb-2,.my-2{margin-bottom: .375rem!important}
.ml-2,.mx-2{margin-left: .375rem!important}
.m-3{margin: .75rem!important}
.mt-3,.my-3{margin-top: .75rem!important}
.mr-3,.mx-3{margin-right: .75rem!important}
.mb-3,.my-3{margin-bottom: .75rem!important}
.ml-3,.mx-3{margin-left: .75rem!important}
.m-4{margin: 1.5rem!important}
.mt-4,.my-4{margin-top: 1.5rem!important}
.mr-4,.mx-4{margin-right: 1.5rem!important}
.mb-4,.my-4{margin-bottom: 1.5rem!important}
.ml-4,.mx-4{margin-left: 1.5rem!important}
.m-5{margin: 2.25rem!important}
.mt-5,.my-5{margin-top: 2.25rem!important}
.mr-5,.mx-5{margin-right: 2.25rem!important}
.mb-5,.my-5{margin-bottom: 2.25rem!important}
.ml-5,.mx-5{margin-left: 2.25rem!important}
.m--8{margin: -13.5rem!important}
.mt--8,.my--8{margin-top: -13.5rem!important}
.mr--8,.mx--8{margin-right: -13.5rem!important}
.mb--8,.my--8{margin-bottom: -13.5rem!important}
.ml--8,.mx--8{margin-left: -13.5rem!important}
.mt--75,.my--75{margin-top: -9rem!important}
.mr--75,.mx--75{margin-right: -9rem!important}
.mb--75,.my--75{margin-bottom: -9rem!important}
.ml--75,.mx--75{margin-left: -9rem!important}
.m--7{margin: -6.75rem!important}
.mt--7,.my--7{margin-top: -6.75rem!important}
.mr--7,.mx--7{margin-right: -6.75rem!important}
.mb--7,.my--7{margin-bottom: -6.75rem!important}
.ml--7,.mx--7{margin-left: -6.75rem!important}
.m--6{margin: -4.5rem!important}
.mt--6,.my--6{margin-top: -4.5rem!important}
.mr--6,.mx--6{margin-right: -4.5rem!important}
.mb--6,.my--6{margin-bottom: -4.5rem!important}
.ml--6,.mx--6{margin-left: -4.5rem!important}
.m--5{margin: -2.25rem!important}
.mt--5,.my--5{margin-top: -2.25rem!important}
.mr--5,.mx--5{margin-right: -2.25rem!important}
.mb--5,.my--5{margin-bottom: -2.25rem!important}
.ml--5,.mx--5{margin-left: -2.25rem!important}
.m--4{margin: -1.5rem!important}
.mt--4,.my--4{margin-top: -1.5rem!important}
.mr--4,.mx--4{margin-right: -1.5rem!important}
.mb--4,.my--4{margin-bottom: -1.5rem!important}
.ml--4,.mx--4{margin-left: -1.5rem!important}
.m--3{margin: -.75rem!important}
.mt--3,.my--3{margin-top: -.75rem!important}
.mr--3,.mx--3{margin-right: -.75rem!important}
.mb--3,.my--3{margin-bottom: -.75rem!important}
.ml--3,.mx--3{margin-left: -.75rem!important}
.m--2{margin: -.375rem!important}
.mt--2,.my--2{margin-top: -.375rem!important}
.mr--2,.mx--2{margin-right: -.375rem!important}
.mb--2,.my--2{margin-bottom: -.375rem!important}
.ml--2,.mx--2{margin-left: -.375rem!important}
.m--1{margin: -.1875rem!important}
.mt--1,.my--1{margin-top: -.1875rem!important}
.mr--1,.mx--1{margin-right: -.1875rem!important}
.mb--1,.my--1{margin-bottom: -.1875rem!important}
.ml--1,.mx--1{margin-left: -.1875rem!important}
.m-6{margin: 4.5rem!important}
.mt-6,.my-6{margin-top: 4.5rem!important}
.mr-6,.mx-6{margin-right: 4.5rem!important}
.mb-6,.my-6{margin-bottom: 4.5rem!important}
.ml-6,.mx-6{margin-left: 4.5rem!important}
.m-7{margin: 6.75rem!important}
.mt-7,.my-7{margin-top: 6.75rem!important}
.mr-7,.mx-7{margin-right: 6.75rem!important}
.mb-7,.my-7{margin-bottom: 6.75rem!important}
.ml-7,.mx-7{margin-left: 6.75rem!important}
.mt-75,.my-75{margin-top: 9rem!important}
.mr-75,.mx-75{margin-right: 9rem!important}
.mb-75,.my-75{margin-bottom: 9rem!important}
.ml-75,.mx-75{margin-left: 9rem!important}
.m-8{margin: 13.5rem!important}
.mt-8,.my-8{margin-top: 13.5rem!important}
.mr-8,.mx-8{margin-right: 13.5rem!important}
.mb-8,.my-8{margin-bottom: 13.5rem!important}
.ml-8,.mx-8{margin-left: 13.5rem!important}
.p-0{padding: 0!important}
.pt-0,.py-0{padding-top: 0!important}
.pr-0,.px-0{padding-right: 0!important}
.pb-0,.py-0{padding-bottom: 0!important}
.pl-0,.px-0{padding-left: 0!important}
.p-1{padding: .1875rem!important}
.pt-1,.py-1{padding-top: .1875rem!important}
.pr-1,.px-1{padding-right: .1875rem!important}
.pb-1,.py-1{padding-bottom: .1875rem!important}
.pl-1,.px-1{padding-left: .1875rem!important}
.p-2{padding: .375rem!important}
.pt-2,.py-2{padding-top: .375rem!important}
.pr-2,.px-2{padding-right: .375rem!important}
.pb-2,.py-2{padding-bottom: .375rem!important}
.pl-2,.px-2{padding-left: .375rem!important}
.p-3{padding: .75rem!important}
.pt-3,.py-3{padding-top: .75rem!important}
.pr-3,.px-3{padding-right: .75rem!important}
.pb-3,.py-3{padding-bottom: .75rem!important}
.pl-3,.px-3{padding-left: .75rem!important}
.p-4{padding: 1.5rem!important}
.pt-4,.py-4{padding-top: 1.5rem!important}
.pr-4,.px-4{padding-right: 1.5rem!important}
.pb-4,.py-4{padding-bottom: 1.5rem!important}
.pl-4,.px-4{padding-left: 1.5rem!important}
.p-5{padding: 2.25rem!important}
.pt-5,.py-5{padding-top: 2.25rem!important}
.pr-5,.px-5{padding-right: 2.25rem!important}
.pb-5,.py-5{padding-bottom: 2.25rem!important}
.pl-5,.px-5{padding-left: 2.25rem!important}
.p--8{padding: -13.5rem!important}
.pt--8,.py--8{padding-top: -13.5rem!important}
.pr--8,.px--8{padding-right: -13.5rem!important}
.pb--8,.py--8{padding-bottom: -13.5rem!important}
.pl--8,.px--8{padding-left: -13.5rem!important}
.p--75{padding: -6.75rem!important}
.pt--75,.py--75{padding-top: -6.75rem!important}
.pr--75,.px--75{padding-right: -6.75rem!important}
.pb--75,.py--75{padding-bottom: -6.75rem!important}
.pl--75,.px--75{padding-left: -6.75rem!important}
.p--7{padding: -6.75rem!important}
.pt--7,.py--7{padding-top: -6.75rem!important}
.pr--7,.px--7{padding-right: -6.75rem!important}
.pb--7,.py--7{padding-bottom: -6.75rem!important}
.pl--7,.px--7{padding-left: -6.75rem!important}
.p--6{padding: -4.5rem!important}
.pt--6,.py--6{padding-top: -4.5rem!important}
.pr--6,.px--6{padding-right: -4.5rem!important}
.pb--6,.py--6{padding-bottom: -4.5rem!important}
.pl--6,.px--6{padding-left: -4.5rem!important}
.p--5{padding: -2.25rem!important}
.pt--5,.py--5{padding-top: -2.25rem!important}
.pr--5,.px--5{padding-right: -2.25rem!important}
.pb--5,.py--5{padding-bottom: -2.25rem!important}
.pl--5,.px--5{padding-left: -2.25rem!important}
.p--4{padding: -1.5rem!important}
.pt--4,.py--4{padding-top: -1.5rem!important}
.pr--4,.px--4{padding-right: -1.5rem!important}
.pb--4,.py--4{padding-bottom: -1.5rem!important}
.pl--4,.px--4{padding-left: -1.5rem!important}
.p--3{padding: -.75rem!important}
.pt--3,.py--3{padding-top: -.75rem!important}
.pr--3,.px--3{padding-right: -.75rem!important}
.pb--3,.py--3{padding-bottom: -.75rem!important}
.pl--3,.px--3{padding-left: -.75rem!important}
.p--2{padding: -.375rem!important}
.pt--2,.py--2{padding-top: -.375rem!important}
.pr--2,.px--2{padding-right: -.375rem!important}
.pb--2,.py--2{padding-bottom: -.375rem!important}
.pl--2,.px--2{padding-left: -.375rem!important}
.p--1{padding: -.1875rem!important}
.pt--1,.py--1{padding-top: -.1875rem!important}
.pr--1,.px--1{padding-right: -.1875rem!important}
.pb--1,.py--1{padding-bottom: -.1875rem!important}
.pl--1,.px--1{padding-left: -.1875rem!important}
.p-6{padding: 4.5rem!important}
.pt-6,.py-6{padding-top: 4.5rem!important}
.pr-6,.px-6{padding-right: 4.5rem!important}
.pb-6,.py-6{padding-bottom: 4.5rem!important}
.pl-6,.px-6{padding-left: 4.5rem!important}
.p-7{padding: 6.75rem!important}
.pt-7,.py-7{padding-top: 6.75rem!important}
.pr-7,.px-7{padding-right: 6.75rem!important}
.pb-7,.py-7{padding-bottom: 6.75rem!important}
.pl-7,.px-7{padding-left: 6.75rem!important}
.p-75{padding: 9rem!important}
.pt-75,.py-75{padding-top: 9rem!important}
.pr-75,.px-75{padding-right: 9rem!important}
.pb-75,.py-75{padding-bottom: 9rem!important}
.pl-75,.px-75{padding-left: 9rem!important}
.p-8{padding: 13.5rem!important}
.pt-8,.py-8{padding-top: 13.5rem!important}
.pr-8,.px-8{padding-right: 13.5rem!important}
.pb-8,.py-8{padding-bottom: 13.5rem!important}
.pl-8,.px-8{padding-left: 13.5rem!important}
.m-auto{margin: auto!important}
.mt-auto,.my-auto{margin-top: auto!important}
.mr-auto,.mx-auto{margin-right: auto!important}
.mb-auto,.my-auto{margin-bottom: auto!important}
.ml-auto,.mx-auto{margin-left: auto!important}

@media (min-width:576px) {
    .m-sm-0{margin: 0!important}
    .mt-sm-0,.my-sm-0{margin-top: 0!important}
    .mr-sm-0,.mx-sm-0{margin-right: 0!important}
    .mb-sm-0,.my-sm-0{margin-bottom: 0!important}
    .ml-sm-0,.mx-sm-0{margin-left: 0!important}
    .m-sm-1{margin: .1875rem!important}
    .mt-sm-1,.my-sm-1{margin-top: .1875rem!important}
    .mr-sm-1,.mx-sm-1{margin-right: .1875rem!important}
    .mb-sm-1,.my-sm-1{margin-bottom: .1875rem!important}
    .ml-sm-1,.mx-sm-1{margin-left: .1875rem!important}
    .m-sm-2{margin: .375rem!important}
    .mt-sm-2,.my-sm-2{margin-top: .375rem!important}
    .mr-sm-2,.mx-sm-2{margin-right: .375rem!important}
    .mb-sm-2,.my-sm-2{margin-bottom: .375rem!important}
    .ml-sm-2,.mx-sm-2{margin-left: .375rem!important}
    .m-sm-3{margin: .75rem!important}
    .mt-sm-3,.my-sm-3{margin-top: .75rem!important}
    .mr-sm-3,.mx-sm-3{margin-right: .75rem!important}
    .mb-sm-3,.my-sm-3{margin-bottom: .75rem!important}
    .ml-sm-3,.mx-sm-3{margin-left: .75rem!important}
    .m-sm-4{margin: 1.5rem!important}
    .mt-sm-4,.my-sm-4{margin-top: 1.5rem!important}
    .mr-sm-4,.mx-sm-4{margin-right: 1.5rem!important}
    .mb-sm-4,.my-sm-4{margin-bottom: 1.5rem!important}
    .ml-sm-4,.mx-sm-4{margin-left: 1.5rem!important}
    .m-sm-5{margin: 2.25rem!important}
    .mt-sm-5,.my-sm-5{margin-top: 2.25rem!important}
    .mr-sm-5,.mx-sm-5{margin-right: 2.25rem!important}
    .mb-sm-5,.my-sm-5{margin-bottom: 2.25rem!important}
    .ml-sm-5,.mx-sm-5{margin-left: 2.25rem!important}
    .m-sm--8{margin: -13.5rem!important}
    .mt-sm--8,.my-sm--8{margin-top: -13.5rem!important}
    .mr-sm--8,.mx-sm--8{margin-right: -13.5rem!important}
    .mb-sm--8,.my-sm--8{margin-bottom: -13.5rem!important}
    .ml-sm--8,.mx-sm--8{margin-left: -13.5rem!important}
    .m-sm--7{margin: -6.75rem!important}
    .mt-sm--7,.my-sm--7{margin-top: -6.75rem!important}
    .mr-sm--7,.mx-sm--7{margin-right: -6.75rem!important}
    .mb-sm--7,.my-sm--7{margin-bottom: -6.75rem!important}
    .ml-sm--7,.mx-sm--7{margin-left: -6.75rem!important}
    .m-sm--75{margin: -6.75rem!important}
    .mt-sm--75,.my-sm--75{margin-top: -6.75rem!important}
    .mr-sm--75,.mx-sm--75{margin-right: -6.75rem!important}
    .mb-sm--75,.my-sm--75{margin-bottom: -6.75rem!important}
    .ml-sm--75,.mx-sm--75{margin-left: -6.75rem!important}
    .m-sm--6{margin: -4.5rem!important}
    .mt-sm--6,.my-sm--6{margin-top: -4.5rem!important}
    .mr-sm--6,.mx-sm--6{margin-right: -4.5rem!important}
    .mb-sm--6,.my-sm--6{margin-bottom: -4.5rem!important}
    .ml-sm--6,.mx-sm--6{margin-left: -4.5rem!important}
    .m-sm--5{margin: -2.25rem!important}
    .mt-sm--5,.my-sm--5{margin-top: -2.25rem!important}
    .mr-sm--5,.mx-sm--5{margin-right: -2.25rem!important}
    .mb-sm--5,.my-sm--5{margin-bottom: -2.25rem!important}
    .ml-sm--5,.mx-sm--5{margin-left: -2.25rem!important}
    .m-sm--4{margin: -1.5rem!important}
    .mt-sm--4,.my-sm--4{margin-top: -1.5rem!important}
    .mr-sm--4,.mx-sm--4{margin-right: -1.5rem!important}
    .mb-sm--4,.my-sm--4{margin-bottom: -1.5rem!important}
    .ml-sm--4,.mx-sm--4{margin-left: -1.5rem!important}
    .m-sm--3{margin: -.75rem!important}
    .mt-sm--3,.my-sm--3{margin-top: -.75rem!important}
    .mr-sm--3,.mx-sm--3{margin-right: -.75rem!important}
    .mb-sm--3,.my-sm--3{margin-bottom: -.75rem!important}
    .ml-sm--3,.mx-sm--3{margin-left: -.75rem!important}
    .m-sm--2{margin: -.375rem!important}
    .mt-sm--2,.my-sm--2{margin-top: -.375rem!important}
    .mr-sm--2,.mx-sm--2{margin-right: -.375rem!important}
    .mb-sm--2,.my-sm--2{margin-bottom: -.375rem!important}
    .ml-sm--2,.mx-sm--2{margin-left: -.375rem!important}
    .m-sm--1{margin: -.1875rem!important}
    .mt-sm--1,.my-sm--1{margin-top: -.1875rem!important}
    .mr-sm--1,.mx-sm--1{margin-right: -.1875rem!important}
    .mb-sm--1,.my-sm--1{margin-bottom: -.1875rem!important}
    .ml-sm--1,.mx-sm--1{margin-left: -.1875rem!important}
    .m-sm-6{margin: 4.5rem!important}
    .mt-sm-6,.my-sm-6{margin-top: 4.5rem!important}
    .mr-sm-6,.mx-sm-6{margin-right: 4.5rem!important}
    .mb-sm-6,.my-sm-6{margin-bottom: 4.5rem!important}
    .ml-sm-6,.mx-sm-6{margin-left: 4.5rem!important}
    .m-sm-7{margin: 6.75rem!important}
    .mt-sm-7,.my-sm-7{margin-top: 6.75rem!important}
    .mr-sm-7,.mx-sm-7{margin-right: 6.75rem!important}
    .mb-sm-7,.my-sm-7{margin-bottom: 6.75rem!important}
    .ml-sm-7,.mx-sm-7{margin-left: 6.75rem!important}
    .m-sm-75{margin: 9rem!important}
    .mt-sm-75,.my-sm-75{margin-top: 9rem!important}
    .mr-sm-75,.mx-sm-75{margin-right: 9rem!important}
    .mb-sm-75,.my-sm-75{margin-bottom: 9rem!important}
    .ml-sm-75,.mx-sm-75{margin-left: 9rem!important}
    .m-sm-8{margin: 13.5rem!important}
    .mt-sm-8,.my-sm-8{margin-top: 13.5rem!important}
    .mr-sm-8,.mx-sm-8{margin-right: 13.5rem!important}
    .mb-sm-8,.my-sm-8{margin-bottom: 13.5rem!important}
    .ml-sm-8,.mx-sm-8{margin-left: 13.5rem!important}
    .p-sm-0{padding: 0!important}
    .pt-sm-0,.py-sm-0{padding-top: 0!important}
    .pr-sm-0,.px-sm-0{padding-right: 0!important}
    .pb-sm-0,.py-sm-0{padding-bottom: 0!important}
    .pl-sm-0,.px-sm-0{padding-left: 0!important}
    .p-sm-1{padding: .1875rem!important}
    .pt-sm-1,.py-sm-1{padding-top: .1875rem!important}
    .pr-sm-1,.px-sm-1{padding-right: .1875rem!important}
    .pb-sm-1,.py-sm-1{padding-bottom: .1875rem!important}
    .pl-sm-1,.px-sm-1{padding-left: .1875rem!important}
    .p-sm-2{padding: .375rem!important}
    .pt-sm-2,.py-sm-2{padding-top: .375rem!important}
    .pr-sm-2,.px-sm-2{padding-right: .375rem!important}
    .pb-sm-2,.py-sm-2{padding-bottom: .375rem!important}
    .pl-sm-2,.px-sm-2{padding-left: .375rem!important}
    .p-sm-3{padding: .75rem!important}
    .pt-sm-3,.py-sm-3{padding-top: .75rem!important}
    .pr-sm-3,.px-sm-3{padding-right: .75rem!important}
    .pb-sm-3,.py-sm-3{padding-bottom: .75rem!important}
    .pl-sm-3,.px-sm-3{padding-left: .75rem!important}
    .p-sm-4{padding: 1.5rem!important}
    .pt-sm-4,.py-sm-4{padding-top: 1.5rem!important}
    .pr-sm-4,.px-sm-4{padding-right: 1.5rem!important}
    .pb-sm-4,.py-sm-4{padding-bottom: 1.5rem!important}
    .pl-sm-4,.px-sm-4{padding-left: 1.5rem!important}
    .p-sm-5{padding: 2.25rem!important}
    .pt-sm-5,.py-sm-5{padding-top: 2.25rem!important}
    .pr-sm-5,.px-sm-5{padding-right: 2.25rem!important}
    .pb-sm-5,.py-sm-5{padding-bottom: 2.25rem!important}
    .pl-sm-5,.px-sm-5{padding-left: 2.25rem!important}
    .p-sm--8{padding: -13.5rem!important}
    .pt-sm--8,.py-sm--8{padding-top: -13.5rem!important}
    .pr-sm--8,.px-sm--8{padding-right: -13.5rem!important}
    .pb-sm--8,.py-sm--8{padding-bottom: -13.5rem!important}
    .pl-sm--8,.px-sm--8{padding-left: -13.5rem!important}
    .p-sm--75{padding: 9rem!important}
    .pt-sm--75,.py-sm--75{padding-top: 9rem!important}
    .pr-sm--75,.px-sm--75{padding-right: 9rem!important}
    .pb-sm--75,.py-sm--75{padding-bottom: 9rem!important}
    .pl-sm--75,.px-sm--75{padding-left: 9rem!important}
    .p-sm--7{padding: -6.75rem!important}
    .pt-sm--7,.py-sm--7{padding-top: -6.75rem!important}
    .pr-sm--7,.px-sm--7{padding-right: -6.75rem!important}
    .pb-sm--7,.py-sm--7{padding-bottom: -6.75rem!important}
    .pl-sm--7,.px-sm--7{padding-left: -6.75rem!important}    
    .p-sm--6{padding: -4.5rem!important}
    .pt-sm--6,.py-sm--6{padding-top: -4.5rem!important}
    .pr-sm--6,.px-sm--6{padding-right: -4.5rem!important}
    .pb-sm--6,.py-sm--6{padding-bottom: -4.5rem!important}
    .pl-sm--6,.px-sm--6{padding-left: -4.5rem!important}
    .p-sm--5{padding: -2.25rem!important}
    .pt-sm--5,.py-sm--5{padding-top: -2.25rem!important}
    .pr-sm--5,.px-sm--5{padding-right: -2.25rem!important}
    .pb-sm--5,.py-sm--5{padding-bottom: -2.25rem!important}
    .pl-sm--5,.px-sm--5{padding-left: -2.25rem!important}
    .p-sm--4{padding: -1.5rem!important}
    .pt-sm--4,.py-sm--4{padding-top: -1.5rem!important}
    .pr-sm--4,.px-sm--4{padding-right: -1.5rem!important}
    .pb-sm--4,.py-sm--4{padding-bottom: -1.5rem!important}
    .pl-sm--4,.px-sm--4{padding-left: -1.5rem!important}
    .p-sm--3{padding: -.75rem!important}
    .pt-sm--3,.py-sm--3{padding-top: -.75rem!important}
    .pr-sm--3,.px-sm--3{padding-right: -.75rem!important}
    .pb-sm--3,.py-sm--3{padding-bottom: -.75rem!important}
    .pl-sm--3,.px-sm--3{padding-left: -.75rem!important}
    .p-sm--2{padding: -.375rem!important}
    .pt-sm--2,.py-sm--2{padding-top: -.375rem!important}
    .pr-sm--2,.px-sm--2{padding-right: -.375rem!important}
    .pb-sm--2,.py-sm--2{padding-bottom: -.375rem!important}
    .pl-sm--2,.px-sm--2{padding-left: -.375rem!important}
    .p-sm--1{padding: -.1875rem!important}
    .pt-sm--1,.py-sm--1{padding-top: -.1875rem!important}
    .pr-sm--1,.px-sm--1{padding-right: -.1875rem!important}
    .pb-sm--1,.py-sm--1{padding-bottom: -.1875rem!important}
    .pl-sm--1,.px-sm--1{padding-left: -.1875rem!important}
    .p-sm-6{padding: 4.5rem!important}
    .pt-sm-6,.py-sm-6{padding-top: 4.5rem!important}
    .pr-sm-6,.px-sm-6{padding-right: 4.5rem!important}
    .pb-sm-6,.py-sm-6{padding-bottom: 4.5rem!important}
    .pl-sm-6,.px-sm-6{padding-left: 4.5rem!important}
    .p-sm-7{padding: 6.75rem!important}
    .pt-sm-7,.py-sm-7{padding-top: 6.75rem!important}
    .pr-sm-7,.px-sm-7{padding-right: 6.75rem!important}
    .pb-sm-7,.py-sm-7{padding-bottom: 6.75rem!important}
    .pl-sm-7,.px-sm-7{padding-left: 6.75rem!important}
    .p-sm-75{padding: 9rem!important}
    .pt-sm-75,.py-sm-75{padding-top: 9rem!important}
    .pr-sm-75,.px-sm-75{padding-right: 9rem!important}
    .pb-sm-75,.py-sm-75{padding-bottom: 9rem!important}
    .pl-sm-75,.px-sm-75{padding-left: 9rem!important}
    .p-sm-8{padding: 13.5rem!important}
    .pt-sm-8,.py-sm-8{padding-top: 13.5rem!important}
    .pr-sm-8,.px-sm-8{padding-right: 13.5rem!important}
    .pb-sm-8,.py-sm-8{padding-bottom: 13.5rem!important}
    .pl-sm-8,.px-sm-8{padding-left: 13.5rem!important}
    .m-sm-auto{margin: auto!important}
    .mt-sm-auto,.my-sm-auto{margin-top: auto!important}
    .mr-sm-auto,.mx-sm-auto{margin-right: auto!important}
    .mb-sm-auto,.my-sm-auto{margin-bottom: auto!important}
    .ml-sm-auto,.mx-sm-auto{margin-left: auto!important}
}

@media (min-width:768px) {
    .m-md-0{margin: 0!important}
    .mt-md-0,.my-md-0{margin-top: 0!important}
    .mr-md-0,.mx-md-0{margin-right: 0!important}
    .mb-md-0,.my-md-0{margin-bottom: 0!important}
    .ml-md-0,.mx-md-0{margin-left: 0!important}
    .m-md-1{margin: .1875rem!important}
    .mt-md-1,.my-md-1{margin-top: .1875rem!important}
    .mr-md-1,.mx-md-1{margin-right: .1875rem!important}
    .mb-md-1,.my-md-1{margin-bottom: .1875rem!important}
    .ml-md-1,.mx-md-1{margin-left: .1875rem!important}
    .m-md-2{margin: .375rem!important}
    .mt-md-2,.my-md-2{margin-top: .375rem!important}
    .mr-md-2,.mx-md-2{margin-right: .375rem!important}
    .mb-md-2,.my-md-2{margin-bottom: .375rem!important}
    .ml-md-2,.mx-md-2{margin-left: .375rem!important}
    .m-md-3{margin: .75rem!important}
    .mt-md-3,.my-md-3{margin-top: .75rem!important}
    .mr-md-3,.mx-md-3{margin-right: .75rem!important}
    .mb-md-3,.my-md-3{margin-bottom: .75rem!important}
    .ml-md-3,.mx-md-3{margin-left: .75rem!important}
    .m-md-4{margin: 1.5rem!important}
    .mt-md-4,.my-md-4{margin-top: 1.5rem!important}
    .mr-md-4,.mx-md-4{margin-right: 1.5rem!important}
    .mb-md-4,.my-md-4{margin-bottom: 1.5rem!important}
    .ml-md-4,.mx-md-4{margin-left: 1.5rem!important}
    .m-md-5{margin: 2.25rem!important}
    .mt-md-5,.my-md-5{margin-top: 2.25rem!important}
    .mr-md-5,.mx-md-5{margin-right: 2.25rem!important}
    .mb-md-5,.my-md-5{margin-bottom: 2.25rem!important}
    .ml-md-5,.mx-md-5{margin-left: 2.25rem!important}
    .m-md--8{margin: -13.5rem!important}
    .mt-md--8,.my-md--8{margin-top: -13.5rem!important}
    .mr-md--8,.mx-md--8{margin-right: -13.5rem!important}
    .mb-md--8,.my-md--8{margin-bottom: -13.5rem!important}
    .ml-md--8,.mx-md--8{margin-left: -13.5rem!important}
    .m-md--75{margin: -6.75rem!important}
    .mt-md--75,.my-md--75{margin-top: -6.75rem!important}
    .mr-md--75,.mx-md--75{margin-right: -6.75rem!important}
    .mb-md--75,.my-md--75{margin-bottom: -6.75rem!important}
    .ml-md--75,.mx-md--75{margin-left: -6.75rem!important}
    .m-md--7{margin: -6.75rem!important}
    .mt-md--7,.my-md--7{margin-top: -6.75rem!important}
    .mr-md--7,.mx-md--7{margin-right: -6.75rem!important}
    .mb-md--7,.my-md--7{margin-bottom: -6.75rem!important}
    .ml-md--7,.mx-md--7{margin-left: -6.75rem!important}
    .m-md--6{margin: -4.5rem!important}
    .mt-md--6,.my-md--6{margin-top: -4.5rem!important}
    .mr-md--6,.mx-md--6{margin-right: -4.5rem!important}
    .mb-md--6,.my-md--6{margin-bottom: -4.5rem!important}
    .ml-md--6,.mx-md--6{margin-left: -4.5rem!important}
    .m-md--5{margin: -2.25rem!important}
    .mt-md--5,.my-md--5{margin-top: -2.25rem!important}
    .mr-md--5,.mx-md--5{margin-right: -2.25rem!important}
    .mb-md--5,.my-md--5{margin-bottom: -2.25rem!important}
    .ml-md--5,.mx-md--5{margin-left: -2.25rem!important}
    .m-md--4{margin: -1.5rem!important}
    .mt-md--4,.my-md--4{margin-top: -1.5rem!important}
    .mr-md--4,.mx-md--4{margin-right: -1.5rem!important}
    .mb-md--4,.my-md--4{margin-bottom: -1.5rem!important}
    .ml-md--4,.mx-md--4{margin-left: -1.5rem!important}
    .m-md--3{margin: -.75rem!important}
    .mt-md--3,.my-md--3{margin-top: -.75rem!important}
    .mr-md--3,.mx-md--3{margin-right: -.75rem!important}
    .mb-md--3,.my-md--3{margin-bottom: -.75rem!important}
    .ml-md--3,.mx-md--3{margin-left: -.75rem!important}
    .m-md--2{margin: -.375rem!important}
    .mt-md--2,.my-md--2{margin-top: -.375rem!important}
    .mr-md--2,.mx-md--2{margin-right: -.375rem!important}
    .mb-md--2,.my-md--2{margin-bottom: -.375rem!important}
    .ml-md--2,.mx-md--2{margin-left: -.375rem!important}
    .m-md--1{margin: -.1875rem!important}
    .mt-md--1,.my-md--1{margin-top: -.1875rem!important}
    .mr-md--1,.mx-md--1{margin-right: -.1875rem!important}
    .mb-md--1,.my-md--1{margin-bottom: -.1875rem!important}
    .ml-md--1,.mx-md--1{margin-left: -.1875rem!important}
    .m-md-6{margin: 4.5rem!important}
    .mt-md-6,.my-md-6{margin-top: 4.5rem!important}
    .mr-md-6,.mx-md-6{margin-right: 4.5rem!important}
    .mb-md-6,.my-md-6{margin-bottom: 4.5rem!important}
    .ml-md-6,.mx-md-6{margin-left: 4.5rem!important}
    .m-md-7{margin: 6.75rem!important}
    .mt-md-7,.my-md-7{margin-top: 6.75rem!important}
    .mr-md-7,.mx-md-7{margin-right: 6.75rem!important}
    .mb-md-7,.my-md-7{margin-bottom: 6.75rem!important}
    .ml-md-7,.mx-md-7{margin-left: 6.75rem!important}
    .m-md-75{margin: 9rem!important}
    .mt-md-75,.my-md-75{margin-top: 9rem!important}
    .mr-md-75,.mx-md-75{margin-right: 9rem!important}
    .mb-md-75,.my-md-75{margin-bottom: 9rem!important}
    .ml-md-75,.mx-md-75{margin-left: 9rem!important}
    .m-md-8{margin: 13.5rem!important}
    .mt-md-8,.my-md-8{margin-top: 13.5rem!important}
    .mr-md-8,.mx-md-8{margin-right: 13.5rem!important}
    .mb-md-8,.my-md-8{margin-bottom: 13.5rem!important}
    .ml-md-8,.mx-md-8{margin-left: 13.5rem!important}
    .p-md-0{padding: 0!important}
    .pt-md-0,.py-md-0{padding-top: 0!important}
    .pr-md-0,.px-md-0{padding-right: 0!important}
    .pb-md-0,.py-md-0{padding-bottom: 0!important}
    .pl-md-0,.px-md-0{padding-left: 0!important}
    .p-md-1{padding: .1875rem!important}
    .pt-md-1,.py-md-1{padding-top: .1875rem!important}
    .pr-md-1,.px-md-1{padding-right: .1875rem!important}
    .pb-md-1,.py-md-1{padding-bottom: .1875rem!important}
    .pl-md-1,.px-md-1{padding-left: .1875rem!important}
    .p-md-2{padding: .375rem!important}
    .pt-md-2,.py-md-2{padding-top: .375rem!important}
    .pr-md-2,.px-md-2{padding-right: .375rem!important}
    .pb-md-2,.py-md-2{padding-bottom: .375rem!important}
    .pl-md-2,.px-md-2{padding-left: .375rem!important}
    .p-md-3{padding: .75rem!important}
    .pt-md-3,.py-md-3{padding-top: .75rem!important}
    .pr-md-3,.px-md-3{padding-right: .75rem!important}
    .pb-md-3,.py-md-3{padding-bottom: .75rem!important}
    .pl-md-3,.px-md-3{padding-left: .75rem!important}
    .p-md-4{padding: 1.5rem!important}
    .pt-md-4,.py-md-4{padding-top: 1.5rem!important}
    .pr-md-4,.px-md-4{padding-right: 1.5rem!important}
    .pb-md-4,.py-md-4{padding-bottom: 1.5rem!important}
    .pl-md-4,.px-md-4{padding-left: 1.5rem!important}
    .p-md-5{padding: 2.25rem!important}
    .pt-md-5,.py-md-5{padding-top: 2.25rem!important}
    .pr-md-5,.px-md-5{padding-right: 2.25rem!important}
    .pb-md-5,.py-md-5{padding-bottom: 2.25rem!important}
    .pl-md-5,.px-md-5{padding-left: 2.25rem!important}
    .p-md--8{padding: -13.5rem!important}
    .pt-md--8,.py-md--8{padding-top: -13.5rem!important}
    .pr-md--8,.px-md--8{padding-right: -13.5rem!important}
    .pb-md--8,.py-md--8{padding-bottom: -13.5rem!important}
    .pl-md--8,.px-md--8{padding-left: -13.5rem!important}
    .p-md--75{padding: -6.75rem!important}
    .pt-md--75,.py-md--75{padding-top: -6.75rem!important}
    .pr-md--75,.px-md--75{padding-right: -6.75rem!important}
    .pb-md--75,.py-md--75{padding-bottom: -6.75rem!important}
    .pl-md--75,.px-md--75{padding-left: -6.75rem!important}
    .p-md--7{padding: -6.75rem!important}
    .pt-md--7,.py-md--7{padding-top: -6.75rem!important}
    .pr-md--7,.px-md--7{padding-right: -6.75rem!important}
    .pb-md--7,.py-md--7{padding-bottom: -6.75rem!important}
    .pl-md--7,.px-md--7{padding-left: -6.75rem!important}
    .p-md--6{padding: -4.5rem!important}
    .pt-md--6,.py-md--6{padding-top: -4.5rem!important}
    .pr-md--6,.px-md--6{padding-right: -4.5rem!important}
    .pb-md--6,.py-md--6{padding-bottom: -4.5rem!important}
    .pl-md--6,.px-md--6{padding-left: -4.5rem!important}
    .p-md--5{padding: -2.25rem!important}
    .pt-md--5,.py-md--5{padding-top: -2.25rem!important}
    .pr-md--5,.px-md--5{padding-right: -2.25rem!important}
    .pb-md--5,.py-md--5{padding-bottom: -2.25rem!important}
    .pl-md--5,.px-md--5{padding-left: -2.25rem!important}
    .p-md--4{padding: -1.5rem!important}
    .pt-md--4,.py-md--4{padding-top: -1.5rem!important}
    .pr-md--4,.px-md--4{padding-right: -1.5rem!important}
    .pb-md--4,.py-md--4{padding-bottom: -1.5rem!important}
    .pl-md--4,.px-md--4{padding-left: -1.5rem!important}
    .p-md--3{padding: -.75rem!important}
    .pt-md--3,.py-md--3{padding-top: -.75rem!important}
    .pr-md--3,.px-md--3{padding-right: -.75rem!important}
    .pb-md--3,.py-md--3{padding-bottom: -.75rem!important}
    .pl-md--3,.px-md--3{padding-left: -.75rem!important}
    .p-md--2{padding: -.375rem!important}
    .pt-md--2,.py-md--2{padding-top: -.375rem!important}
    .pr-md--2,.px-md--2{padding-right: -.375rem!important}
    .pb-md--2,.py-md--2{padding-bottom: -.375rem!important}
    .pl-md--2,.px-md--2{padding-left: -.375rem!important}
    .p-md--1{padding: -.1875rem!important}
    .pt-md--1,.py-md--1{padding-top: -.1875rem!important}
    .pr-md--1,.px-md--1{padding-right: -.1875rem!important}
    .pb-md--1,.py-md--1{padding-bottom: -.1875rem!important}
    .pl-md--1,.px-md--1{padding-left: -.1875rem!important}
    .p-md-6{padding: 4.5rem!important}
    .pt-md-6,.py-md-6{padding-top: 4.5rem!important}
    .pr-md-6,.px-md-6{padding-right: 4.5rem!important}
    .pb-md-6,.py-md-6{padding-bottom: 4.5rem!important}
    .pl-md-6,.px-md-6{padding-left: 4.5rem!important}
    .p-md-7{padding: 6.75rem!important}
    .pt-md-7,.py-md-7{padding-top: 6.75rem!important}
    .pr-md-7,.px-md-7{padding-right: 6.75rem!important}
    .pb-md-7,.py-md-7{padding-bottom: 6.75rem!important}
    .pl-md-7,.px-md-7{padding-left: 6.75rem!important}
    .p-md-75{padding: 9rem!important}
    .pt-md-75,.py-md-75{padding-top: 9rem!important}
    .pr-md-75,.px-md-75{padding-right: 9rem!important}
    .pb-md-75,.py-md-75{padding-bottom: 9rem!important}
    .pl-md-75,.px-md-75{padding-left: 9rem!important}
    .p-md-8{padding: 13.5rem!important}
    .pt-md-8,.py-md-8{padding-top: 13.5rem!important}
    .pr-md-8,.px-md-8{padding-right: 13.5rem!important}
    .pb-md-8,.py-md-8{padding-bottom: 13.5rem!important}
    .pl-md-8,.px-md-8{padding-left: 13.5rem!important}
    .m-md-auto{margin: auto!important}
    .mt-md-auto,.my-md-auto{margin-top: auto!important}
    .mr-md-auto,.mx-md-auto{margin-right: auto!important}
    .mb-md-auto,.my-md-auto{margin-bottom: auto!important}
    .ml-md-auto,.mx-md-auto{margin-left: auto!important}
}

@media (min-width:992px) {
    .m-lg-0{margin: 0!important}
    .mt-lg-0,.my-lg-0{margin-top: 0!important}
    .mr-lg-0,.mx-lg-0{margin-right: 0!important}
    .mb-lg-0,.my-lg-0{margin-bottom: 0!important}
    .ml-lg-0,.mx-lg-0{margin-left: 0!important}
    .m-lg-1{margin: .1875rem!important}
    .mt-lg-1,.my-lg-1{margin-top: .1875rem!important}
    .mr-lg-1,.mx-lg-1{margin-right: .1875rem!important}
    .mb-lg-1,.my-lg-1{margin-bottom: .1875rem!important}
    .ml-lg-1,.mx-lg-1{margin-left: .1875rem!important}
    .m-lg-2{margin: .375rem!important}
    .mt-lg-2,.my-lg-2{margin-top: .375rem!important}
    .mr-lg-2,.mx-lg-2{margin-right: .375rem!important}
    .mb-lg-2,.my-lg-2{margin-bottom: .375rem!important}
    .ml-lg-2,.mx-lg-2{margin-left: .375rem!important}
    .m-lg-3{margin: .75rem!important}
    .mt-lg-3,.my-lg-3{margin-top: .75rem!important}
    .mr-lg-3,.mx-lg-3{margin-right: .75rem!important}
    .mb-lg-3,.my-lg-3{margin-bottom: .75rem!important}
    .ml-lg-3,.mx-lg-3{margin-left: .75rem!important}
    .m-lg-4{margin: 1.5rem!important}
    .mt-lg-4,.my-lg-4{margin-top: 1.5rem!important}
    .mr-lg-4,.mx-lg-4{margin-right: 1.5rem!important}
    .mb-lg-4,.my-lg-4{margin-bottom: 1.5rem!important}
    .ml-lg-4,.mx-lg-4{margin-left: 1.5rem!important}
    .m-lg-5{margin: 2.25rem!important}
    .mt-lg-5,.my-lg-5{margin-top: 2.25rem!important}
    .mr-lg-5,.mx-lg-5{margin-right: 2.25rem!important}
    .mb-lg-5,.my-lg-5{margin-bottom: 2.25rem!important}
    .ml-lg-5,.mx-lg-5{margin-left: 2.25rem!important}
    .m-lg--8{margin: -13.5rem!important}
    .mt-lg--8,.my-lg--8{margin-top: -13.5rem!important}
    .mr-lg--8,.mx-lg--8{margin-right: -13.5rem!important}
    .mb-lg--8,.my-lg--8{margin-bottom: -13.5rem!important}
    .ml-lg--8,.mx-lg--8{margin-left: -13.5rem!important}
    .m-lg--75{margin: -6.75rem!important}
    .mt-lg--75,.my-lg--75{margin-top: -6.75rem!important}
    .mr-lg--75,.mx-lg--75{margin-right: -6.75rem!important}
    .mb-lg--75,.my-lg--75{margin-bottom: -6.75rem!important}
    .ml-lg--75,.mx-lg--75{margin-left: -6.75rem!important}
    .m-lg--7{margin: -6.75rem!important}
    .mt-lg--7,.my-lg--7{margin-top: -6.75rem!important}
    .mr-lg--7,.mx-lg--7{margin-right: -6.75rem!important}
    .mb-lg--7,.my-lg--7{margin-bottom: -6.75rem!important}
    .ml-lg--7,.mx-lg--7{margin-left: -6.75rem!important}
    .m-lg--6{margin: -4.5rem!important}
    .mt-lg--6,.my-lg--6{margin-top: -4.5rem!important}
    .mr-lg--6,.mx-lg--6{margin-right: -4.5rem!important}
    .mb-lg--6,.my-lg--6{margin-bottom: -4.5rem!important}
    .ml-lg--6,.mx-lg--6{margin-left: -4.5rem!important}
    .m-lg--5{margin: -2.25rem!important}
    .mt-lg--5,.my-lg--5{margin-top: -2.25rem!important}
    .mr-lg--5,.mx-lg--5{margin-right: -2.25rem!important}
    .mb-lg--5,.my-lg--5{margin-bottom: -2.25rem!important}
    .ml-lg--5,.mx-lg--5{margin-left: -2.25rem!important}
    .m-lg--4{margin: -1.5rem!important}
    .mt-lg--4,.my-lg--4{margin-top: -1.5rem!important}
    .mr-lg--4,.mx-lg--4{margin-right: -1.5rem!important}
    .mb-lg--4,.my-lg--4{margin-bottom: -1.5rem!important}
    .ml-lg--4,.mx-lg--4{margin-left: -1.5rem!important}
    .m-lg--3{margin: -.75rem!important}
    .mt-lg--3,.my-lg--3{margin-top: -.75rem!important}
    .mr-lg--3,.mx-lg--3{margin-right: -.75rem!important}
    .mb-lg--3,.my-lg--3{margin-bottom: -.75rem!important}
    .ml-lg--3,.mx-lg--3{margin-left: -.75rem!important}
    .m-lg--2{margin: -.375rem!important}
    .mt-lg--2,.my-lg--2{margin-top: -.375rem!important}
    .mr-lg--2,.mx-lg--2{margin-right: -.375rem!important}
    .mb-lg--2,.my-lg--2{margin-bottom: -.375rem!important}
    .ml-lg--2,.mx-lg--2{margin-left: -.375rem!important}
    .m-lg--1{margin: -.1875rem!important}
    .mt-lg--1,.my-lg--1{margin-top: -.1875rem!important}
    .mr-lg--1,.mx-lg--1{margin-right: -.1875rem!important}
    .mb-lg--1,.my-lg--1{margin-bottom: -.1875rem!important}
    .ml-lg--1,.mx-lg--1{margin-left: -.1875rem!important}
    .m-lg-6{margin: 4.5rem!important}
    .mt-lg-6,.my-lg-6{margin-top: 4.5rem!important}
    .mr-lg-6,.mx-lg-6{margin-right: 4.5rem!important}
    .mb-lg-6,.my-lg-6{margin-bottom: 4.5rem!important}
    .ml-lg-6,.mx-lg-6{margin-left: 4.5rem!important}
    .m-lg-7{margin: 6.75rem!important}
    .mt-lg-7,.my-lg-7{margin-top: 6.75rem!important}
    .mr-lg-7,.mx-lg-7{margin-right: 6.75rem!important}
    .mb-lg-7,.my-lg-7{margin-bottom: 6.75rem!important}
    .ml-lg-7,.mx-lg-7{margin-left: 6.75rem!important}
    .m-lg-75{margin: 9rem!important}
    .mt-lg-75,.my-lg-75{margin-top: 9rem!important}
    .mr-lg-75,.mx-lg-75{margin-right: 9rem!important}
    .mb-lg-75,.my-lg-75{margin-bottom: 9rem!important}
    .ml-lg-75,.mx-lg-75{margin-left: 9rem!important}
    .m-lg-8{margin: 13.5rem!important}
    .mt-lg-8,.my-lg-8{margin-top: 13.5rem!important}
    .mr-lg-8,.mx-lg-8{margin-right: 13.5rem!important}
    .mb-lg-8,.my-lg-8{margin-bottom: 13.5rem!important}
    .ml-lg-8,.mx-lg-8{margin-left: 13.5rem!important}
    .p-lg-0{padding: 0!important}
    .pt-lg-0,.py-lg-0{padding-top: 0!important}
    .pr-lg-0,.px-lg-0{padding-right: 0!important}
    .pb-lg-0,.py-lg-0{padding-bottom: 0!important}
    .pl-lg-0,.px-lg-0{padding-left: 0!important}
    .p-lg-1{padding: .1875rem!important}
    .pt-lg-1,.py-lg-1{padding-top: .1875rem!important}
    .pr-lg-1,.px-lg-1{padding-right: .1875rem!important}
    .pb-lg-1,.py-lg-1{padding-bottom: .1875rem!important}
    .pl-lg-1,.px-lg-1{padding-left: .1875rem!important}
    .p-lg-2{padding: .375rem!important}
    .pt-lg-2,.py-lg-2{padding-top: .375rem!important}
    .pr-lg-2,.px-lg-2{padding-right: .375rem!important}
    .pb-lg-2,.py-lg-2{padding-bottom: .375rem!important}
    .pl-lg-2,.px-lg-2{padding-left: .375rem!important}
    .p-lg-3{padding: .75rem!important}
    .pt-lg-3,.py-lg-3{padding-top: .75rem!important}
    .pr-lg-3,.px-lg-3{padding-right: .75rem!important}
    .pb-lg-3,.py-lg-3{padding-bottom: .75rem!important}
    .pl-lg-3,.px-lg-3{padding-left: .75rem!important}
    .p-lg-4{padding: 1.5rem!important}
    .pt-lg-4,.py-lg-4{padding-top: 1.5rem!important}
    .pr-lg-4,.px-lg-4{padding-right: 1.5rem!important}
    .pb-lg-4,.py-lg-4{padding-bottom: 1.5rem!important}
    .pl-lg-4,.px-lg-4{padding-left: 1.5rem!important}
    .p-lg-5{padding: 2.25rem!important}
    .pt-lg-5,.py-lg-5{padding-top: 2.25rem!important}
    .pr-lg-5,.px-lg-5{padding-right: 2.25rem!important}
    .pb-lg-5,.py-lg-5{padding-bottom: 2.25rem!important}
    .pl-lg-5,.px-lg-5{padding-left: 2.25rem!important}
    .p-lg--8{padding: -13.5rem!important}
    .pt-lg--8,.py-lg--8{padding-top: -13.5rem!important}
    .pr-lg--8,.px-lg--8{padding-right: -13.5rem!important}
    .pb-lg--8,.py-lg--8{padding-bottom: -13.5rem!important}
    .pl-lg--8,.px-lg--8{padding-left: -13.5rem!important}
    .p-lg--75{padding: -6.75rem!important}
    .pt-lg--75,.py-lg--75{padding-top: -6.75rem!important}
    .pr-lg--75,.px-lg--75{padding-right: -6.75rem!important}
    .pb-lg--75,.py-lg--75{padding-bottom: -6.75rem!important}
    .pl-lg--75,.px-lg--75{padding-left: -6.75rem!important}
    .p-lg--7{padding: -6.75rem!important}
    .pt-lg--7,.py-lg--7{padding-top: -6.75rem!important}
    .pr-lg--7,.px-lg--7{padding-right: -6.75rem!important}
    .pb-lg--7,.py-lg--7{padding-bottom: -6.75rem!important}
    .pl-lg--7,.px-lg--7{padding-left: -6.75rem!important}
    .p-lg--6{padding: -4.5rem!important}
    .pt-lg--6,.py-lg--6{padding-top: -4.5rem!important}
    .pr-lg--6,.px-lg--6{padding-right: -4.5rem!important}
    .pb-lg--6,.py-lg--6{padding-bottom: -4.5rem!important}
    .pl-lg--6,.px-lg--6{padding-left: -4.5rem!important}
    .p-lg--5{padding: -2.25rem!important}
    .pt-lg--5,.py-lg--5{padding-top: -2.25rem!important}
    .pr-lg--5,.px-lg--5{padding-right: -2.25rem!important}
    .pb-lg--5,.py-lg--5{padding-bottom: -2.25rem!important}
    .pl-lg--5,.px-lg--5{padding-left: -2.25rem!important}
    .p-lg--4{padding: -1.5rem!important}
    .pt-lg--4,.py-lg--4{padding-top: -1.5rem!important}
    .pr-lg--4,.px-lg--4{padding-right: -1.5rem!important}
    .pb-lg--4,.py-lg--4{padding-bottom: -1.5rem!important}
    .pl-lg--4,.px-lg--4{padding-left: -1.5rem!important}
    .p-lg--3{padding: -.75rem!important}
    .pt-lg--3,.py-lg--3{padding-top: -.75rem!important}
    .pr-lg--3,.px-lg--3{padding-right: -.75rem!important}
    .pb-lg--3,.py-lg--3{padding-bottom: -.75rem!important}
    .pl-lg--3,.px-lg--3{padding-left: -.75rem!important}
    .p-lg--2{padding: -.375rem!important}
    .pt-lg--2,.py-lg--2{padding-top: -.375rem!important}
    .pr-lg--2,.px-lg--2{padding-right: -.375rem!important}
    .pb-lg--2,.py-lg--2{padding-bottom: -.375rem!important}
    .pl-lg--2,.px-lg--2{padding-left: -.375rem!important}
    .p-lg--1{padding: -.1875rem!important}
    .pt-lg--1,.py-lg--1{padding-top: -.1875rem!important}
    .pr-lg--1,.px-lg--1{padding-right: -.1875rem!important}
    .pb-lg--1,.py-lg--1{padding-bottom: -.1875rem!important}
    .pl-lg--1,.px-lg--1{padding-left: -.1875rem!important}
    .p-lg-6{padding: 4.5rem!important}
    .pt-lg-6,.py-lg-6{padding-top: 4.5rem!important}
    .pr-lg-6,.px-lg-6{padding-right: 4.5rem!important}
    .pb-lg-6,.py-lg-6{padding-bottom: 4.5rem!important}
    .pl-lg-6,.px-lg-6{padding-left: 4.5rem!important}
    .p-lg-7{padding: 6.75rem!important}
    .pt-lg-7,.py-lg-7{padding-top: 6.75rem!important}
    .pr-lg-7,.px-lg-7{padding-right: 6.75rem!important}
    .pb-lg-7,.py-lg-7{padding-bottom: 6.75rem!important}
    .pl-lg-7,.px-lg-7{padding-left: 6.75rem!important}
    .p-lg-75{padding: 9rem!important}
    .pt-lg-75,.py-lg-75{padding-top: 9rem!important}
    .pr-lg-75,.px-lg-75{padding-right: 9rem!important}
    .pb-lg-75,.py-lg-75{padding-bottom: 9rem!important}
    .pl-lg-75,.px-lg-75{padding-left: 9rem!important}
    .p-lg-8{padding: 13.5rem!important}
    .pt-lg-8,.py-lg-8{padding-top: 13.5rem!important}
    .pr-lg-8,.px-lg-8{padding-right: 13.5rem!important}
    .pb-lg-8,.py-lg-8{padding-bottom: 13.5rem!important}
    .pl-lg-8,.px-lg-8{padding-left: 13.5rem!important}
    .m-lg-auto{margin: auto!important}
    .mt-lg-auto,.my-lg-auto{margin-top: auto!important}
    .mr-lg-auto,.mx-lg-auto{margin-right: auto!important}
    .mb-lg-auto,.my-lg-auto{margin-bottom: auto!important}
    .ml-lg-auto,.mx-lg-auto{margin-left: auto!important}
}

@media (min-width:1200px) {
    .m-xl-0{margin: 0!important}
    .mt-xl-0,.my-xl-0{margin-top: 0!important}
    .mr-xl-0,.mx-xl-0{margin-right: 0!important}
    .mb-xl-0,.my-xl-0{margin-bottom: 0!important}
    .ml-xl-0,.mx-xl-0{margin-left: 0!important}
    .m-xl-1{margin: .1875rem!important}
    .mt-xl-1,.my-xl-1{margin-top: .1875rem!important}
    .mr-xl-1,.mx-xl-1{margin-right: .1875rem!important}
    .mb-xl-1,.my-xl-1{margin-bottom: .1875rem!important}
    .ml-xl-1,.mx-xl-1{margin-left: .1875rem!important}
    .m-xl-2{margin: .375rem!important}
    .mt-xl-2,.my-xl-2{margin-top: .375rem!important}
    .mr-xl-2,.mx-xl-2{margin-right: .375rem!important}
    .mb-xl-2,.my-xl-2{margin-bottom: .375rem!important}
    .ml-xl-2,.mx-xl-2{margin-left: .375rem!important}
    .m-xl-3{margin: .75rem!important}
    .mt-xl-3,.my-xl-3{margin-top: .75rem!important}
    .mr-xl-3,.mx-xl-3{margin-right: .75rem!important}
    .mb-xl-3,.my-xl-3{margin-bottom: .75rem!important}
    .ml-xl-3,.mx-xl-3{margin-left: .75rem!important}
    .m-xl-4{margin: 1.5rem!important}
    .mt-xl-4,.my-xl-4{margin-top: 1.5rem!important}
    .mr-xl-4,.mx-xl-4{margin-right: 1.5rem!important}
    .mb-xl-4,.my-xl-4{margin-bottom: 1.5rem!important}
    .ml-xl-4,.mx-xl-4{margin-left: 1.5rem!important}
    .m-xl-5{margin: 2.25rem!important}
    .mt-xl-5,.my-xl-5{margin-top: 2.25rem!important}
    .mr-xl-5,.mx-xl-5{margin-right: 2.25rem!important}
    .mb-xl-5,.my-xl-5{margin-bottom: 2.25rem!important}
    .ml-xl-5,.mx-xl-5{margin-left: 2.25rem!important}
    .m-xl--8{margin: -13.5rem!important}
    .mt-xl--8,.my-xl--8{margin-top: -13.5rem!important}
    .mr-xl--8,.mx-xl--8{margin-right: -13.5rem!important}
    .mb-xl--8,.my-xl--8{margin-bottom: -13.5rem!important}
    .ml-xl--8,.mx-xl--8{margin-left: -13.5rem!important}
    .m-xl--75{margin: -6.75rem!important}
    .mt-xl--75,.my-xl--75{margin-top: -6.75rem!important}
    .mr-xl--75,.mx-xl--75{margin-right: -6.75rem!important}
    .mb-xl--75,.my-xl--75{margin-bottom: -6.75rem!important}
    .ml-xl--75,.mx-xl--75{margin-left: -6.75rem!important}
    .m-xl--7{margin: -6.75rem!important}
    .mt-xl--7,.my-xl--7{margin-top: -6.75rem!important}
    .mr-xl--7,.mx-xl--7{margin-right: -6.75rem!important}
    .mb-xl--7,.my-xl--7{margin-bottom: -6.75rem!important}
    .ml-xl--7,.mx-xl--7{margin-left: -6.75rem!important}
    .m-xl--6{margin: -4.5rem!important}
    .mt-xl--6,.my-xl--6{margin-top: -4.5rem!important}
    .mr-xl--6,.mx-xl--6{margin-right: -4.5rem!important}
    .mb-xl--6,.my-xl--6{margin-bottom: -4.5rem!important}
    .ml-xl--6,.mx-xl--6{margin-left: -4.5rem!important}
    .m-xl--5{margin: -2.25rem!important}
    .mt-xl--5,.my-xl--5{margin-top: -2.25rem!important}
    .mr-xl--5,.mx-xl--5{margin-right: -2.25rem!important}
    .mb-xl--5,.my-xl--5{margin-bottom: -2.25rem!important}
    .ml-xl--5,.mx-xl--5{margin-left: -2.25rem!important}
    .m-xl--4{margin: -1.5rem!important}
    .mt-xl--4,.my-xl--4{margin-top: -1.5rem!important}
    .mr-xl--4,.mx-xl--4{margin-right: -1.5rem!important}
    .mb-xl--4,.my-xl--4{margin-bottom: -1.5rem!important}
    .ml-xl--4,.mx-xl--4{margin-left: -1.5rem!important}
    .m-xl--3{margin: -.75rem!important}
    .mt-xl--3,.my-xl--3{margin-top: -.75rem!important}
    .mr-xl--3,.mx-xl--3{margin-right: -.75rem!important}
    .mb-xl--3,.my-xl--3{margin-bottom: -.75rem!important}
    .ml-xl--3,.mx-xl--3{margin-left: -.75rem!important}
    .m-xl--2{margin: -.375rem!important}
    .mt-xl--2,.my-xl--2{margin-top: -.375rem!important}
    .mr-xl--2,.mx-xl--2{margin-right: -.375rem!important}
    .mb-xl--2,.my-xl--2{margin-bottom: -.375rem!important}
    .ml-xl--2,.mx-xl--2{margin-left: -.375rem!important}
    .m-xl--1{margin: -.1875rem!important}
    .mt-xl--1,.my-xl--1{margin-top: -.1875rem!important}
    .mr-xl--1,.mx-xl--1{margin-right: -.1875rem!important}
    .mb-xl--1,.my-xl--1{margin-bottom: -.1875rem!important}
    .ml-xl--1,.mx-xl--1{margin-left: -.1875rem!important}
    .m-xl-6{margin: 4.5rem!important}
    .mt-xl-6,.my-xl-6{margin-top: 4.5rem!important}
    .mr-xl-6,.mx-xl-6{margin-right: 4.5rem!important}
    .mb-xl-6,.my-xl-6{margin-bottom: 4.5rem!important}
    .ml-xl-6,.mx-xl-6{margin-left: 4.5rem!important}
    .m-xl-7{margin: 6.75rem!important}
    .mt-xl-7,.my-xl-7{margin-top: 6.75rem!important}
    .mr-xl-7,.mx-xl-7{margin-right: 6.75rem!important}
    .mb-xl-7,.my-xl-7{margin-bottom: 6.75rem!important}
    .ml-xl-7,.mx-xl-7{margin-left: 6.75rem!important}
    .m-xl-75{margin: 9rem!important}
    .mt-xl-75,.my-xl-75{margin-top: 9rem!important}
    .mr-xl-75,.mx-xl-75{margin-right: 9rem!important}
    .mb-xl-75,.my-xl-75{margin-bottom: 9rem!important}
    .ml-xl-75,.mx-xl-75{margin-left: 9rem!important}
    .m-xl-8{margin: 13.5rem!important}
    .mt-xl-8,.my-xl-8{margin-top: 13.5rem!important}
    .mr-xl-8,.mx-xl-8{margin-right: 13.5rem!important}
    .mb-xl-8,.my-xl-8{margin-bottom: 13.5rem!important}
    .ml-xl-8,.mx-xl-8{margin-left: 13.5rem!important}
    .p-xl-0{padding: 0!important}
    .pt-xl-0,.py-xl-0{padding-top: 0!important}
    .pr-xl-0,.px-xl-0{padding-right: 0!important}
    .pb-xl-0,.py-xl-0{padding-bottom: 0!important}
    .pl-xl-0,.px-xl-0{padding-left: 0!important}
    .p-xl-1{padding: .1875rem!important}
    .pt-xl-1,.py-xl-1{padding-top: .1875rem!important}
    .pr-xl-1,.px-xl-1{padding-right: .1875rem!important}
    .pb-xl-1,.py-xl-1{padding-bottom: .1875rem!important}
    .pl-xl-1,.px-xl-1{padding-left: .1875rem!important}
    .p-xl-2{padding: .375rem!important}
    .pt-xl-2,.py-xl-2{padding-top: .375rem!important}
    .pr-xl-2,.px-xl-2{padding-right: .375rem!important}
    .pb-xl-2,.py-xl-2{padding-bottom: .375rem!important}
    .pl-xl-2,.px-xl-2{padding-left: .375rem!important}
    .p-xl-3{padding: .75rem!important}
    .pt-xl-3,.py-xl-3{padding-top: .75rem!important}
    .pr-xl-3,.px-xl-3{padding-right: .75rem!important}
    .pb-xl-3,.py-xl-3{padding-bottom: .75rem!important}
    .pl-xl-3,.px-xl-3{padding-left: .75rem!important}
    .p-xl-4{padding: 1.5rem!important}
    .pt-xl-4,.py-xl-4{padding-top: 1.5rem!important}
    .pr-xl-4,.px-xl-4{padding-right: 1.5rem!important}
    .pb-xl-4,.py-xl-4{padding-bottom: 1.5rem!important}
    .pl-xl-4,.px-xl-4{padding-left: 1.5rem!important}
    .p-xl-5{padding: 2.25rem!important}
    .pt-xl-5,.py-xl-5{padding-top: 2.25rem!important}
    .pr-xl-5,.px-xl-5{padding-right: 2.25rem!important}
    .pb-xl-5,.py-xl-5{padding-bottom: 2.25rem!important}
    .pl-xl-5,.px-xl-5{padding-left: 2.25rem!important}
    .p-xl--8{padding: -13.5rem!important}
    .pt-xl--8,.py-xl--8{padding-top: -13.5rem!important}
    .pr-xl--8,.px-xl--8{padding-right: -13.5rem!important}
    .pb-xl--8,.py-xl--8{padding-bottom: -13.5rem!important}
    .pl-xl--8,.px-xl--8{padding-left: -13.5rem!important}
    .p-xl--75{padding: -6.75rem!important}
    .pt-xl--75,.py-xl--75{padding-top: -6.75rem!important}
    .pr-xl--75,.px-xl--75{padding-right: -6.75rem!important}
    .pb-xl--75,.py-xl--75{padding-bottom: -6.75rem!important}
    .pl-xl--75,.px-xl--75{padding-left: -6.75rem!important}
    .p-xl--7{padding: -6.75rem!important}
    .pt-xl--7,.py-xl--7{padding-top: -6.75rem!important}
    .pr-xl--7,.px-xl--7{padding-right: -6.75rem!important}
    .pb-xl--7,.py-xl--7{padding-bottom: -6.75rem!important}
    .pl-xl--7,.px-xl--7{padding-left: -6.75rem!important}
    .p-xl--6{padding: -4.5rem!important}
    .pt-xl--6,.py-xl--6{padding-top: -4.5rem!important}
    .pr-xl--6,.px-xl--6{padding-right: -4.5rem!important}
    .pb-xl--6,.py-xl--6{padding-bottom: -4.5rem!important}
    .pl-xl--6,.px-xl--6{padding-left: -4.5rem!important}
    .p-xl--5{padding: -2.25rem!important}
    .pt-xl--5,.py-xl--5{padding-top: -2.25rem!important}
    .pr-xl--5,.px-xl--5{padding-right: -2.25rem!important}
    .pb-xl--5,.py-xl--5{padding-bottom: -2.25rem!important}
    .pl-xl--5,.px-xl--5{padding-left: -2.25rem!important}
    .p-xl--4{padding: -1.5rem!important}
    .pt-xl--4,.py-xl--4{padding-top: -1.5rem!important}
    .pr-xl--4,.px-xl--4{padding-right: -1.5rem!important}
    .pb-xl--4,.py-xl--4{padding-bottom: -1.5rem!important}
    .pl-xl--4,.px-xl--4{padding-left: -1.5rem!important}
    .p-xl--3{padding: -.75rem!important}
    .pt-xl--3,.py-xl--3{padding-top: -.75rem!important}
    .pr-xl--3,.px-xl--3{padding-right: -.75rem!important}
    .pb-xl--3,.py-xl--3{padding-bottom: -.75rem!important}
    .pl-xl--3,.px-xl--3{padding-left: -.75rem!important}
    .p-xl--2{padding: -.375rem!important}
    .pt-xl--2,.py-xl--2{padding-top: -.375rem!important}
    .pr-xl--2,.px-xl--2{padding-right: -.375rem!important}
    .pb-xl--2,.py-xl--2{padding-bottom: -.375rem!important}
    .pl-xl--2,.px-xl--2{padding-left: -.375rem!important}
    .p-xl--1{padding: -.1875rem!important}
    .pt-xl--1,.py-xl--1{padding-top: -.1875rem!important}
    .pr-xl--1,.px-xl--1{padding-right: -.1875rem!important}
    .pb-xl--1,.py-xl--1{padding-bottom: -.1875rem!important}
    .pl-xl--1,.px-xl--1{padding-left: -.1875rem!important}
    .p-xl-6{padding: 4.5rem!important}
    .pt-xl-6,.py-xl-6{padding-top: 4.5rem!important}
    .pr-xl-6,.px-xl-6{padding-right: 4.5rem!important}
    .pb-xl-6,.py-xl-6{padding-bottom: 4.5rem!important}
    .pl-xl-6,.px-xl-6{padding-left: 4.5rem!important}
    .p-xl-7{padding: 6.75rem!important}
    .pt-xl-7,.py-xl-7{padding-top: 6.75rem!important}
    .pr-xl-7,.px-xl-7{padding-right: 6.75rem!important}
    .pb-xl-7,.py-xl-7{padding-bottom: 6.75rem!important}
    .pl-xl-7,.px-xl-7{padding-left: 6.75rem!important}
    .p-xl-75{padding: 9rem!important}
    .pt-xl-75,.py-xl-75{padding-top: 9rem!important}
    .pr-xl-75,.px-xl-75{padding-right: 9rem!important}
    .pb-xl-75,.py-xl-75{padding-bottom: 9rem!important}
    .pl-xl-75,.px-xl-75{padding-left: 9rem!important}
    .p-xl-8{padding: 13.5rem!important}
    .pt-xl-8,.py-xl-8{padding-top: 13.5rem!important}
    .pr-xl-8,.px-xl-8{padding-right: 13.5rem!important}
    .pb-xl-8,.py-xl-8{padding-bottom: 13.5rem!important}
    .pl-xl-8,.px-xl-8{padding-left: 13.5rem!important}
    .m-xl-auto{margin: auto!important}
    .mt-xl-auto,.my-xl-auto{margin-top: auto!important}
    .mr-xl-auto,.mx-xl-auto{margin-right: auto!important}
    .mb-xl-auto,.my-xl-auto{margin-bottom: auto!important}
    .ml-xl-auto,.mx-xl-auto{margin-left: auto!important}
}

/* position */
.ps-0{
    top: 0!important;
    right: 0!important;
    bottom: 0!important;
    left: 0!important
}
.ps-v-center{top: 50%!important;transform: translate(0, -50%);}
.ps-h-center{left: 50%!important;transform: translate(-50%, 0);}
.ps-t-0{top: 0!important}
.ps-r-0{right: 0!important}
.ps-b-0{bottom: 0!important}
.ps-l-0{left: 0!important}
.ps-t-1{top: .1875rem!important}
.ps-r-1{right: .1875rem!important}
.ps-b-1{bottom: .1875rem!important}
.ps-l-1{left: .1875rem!important}
.ps-t-2{top: .375rem!important}
.ps-r-2{right: .375rem!important}
.ps-b-2{bottom: .375rem!important}
.ps-l-2{left: .375rem!important}
.ps-t-3{top: .75rem!important}
.ps-r-3{right: .75rem!important}
.ps-b-3{bottom: .75rem!important}
.ps-l-3{left: .75rem!important}
.ps-t-4{top: 1.5rem!important}
.ps-r-4{right: 1.5rem!important}
.ps-b-4{bottom: 1.5rem!important}
.ps-l-4{left: 1.5rem!important}
.ps-t-5{top: 2.25rem!important}
.ps-r-5{right: 2.25rem!important}
.ps-b-5{bottom: 2.25rem!important}
.ps-l-5{left: 2.25rem!important}
.ps-t--8{top: -13.5rem!important}
.ps-r--8{right: -13.5rem!important}
.ps-b--8{bottom: -13.5rem!important}
.ps-l--8{left: -13.5rem!important}
.ps-t--75{top: -9rem!important}
.ps-r--75{right: -9rem!important}
.ps-b--75{bottom: -9rem!important}
.ps-l--75{left: -9rem!important}
.ps-t--7{top: -6.75rem!important}
.ps-r--7{right: -6.75rem!important}
.ps-b--7{bottom: -6.75rem!important}
.ps-l--7{left: -6.75rem!important}
.ps-t--6{top: -4.5rem!important}
.ps-r--6{right: -4.5rem!important}
.ps-b--6{bottom: -4.5rem!important}
.ps-l--6{left: -4.5rem!important}
.ps-t--5{top: -2.25rem!important}
.ps-r--5{right: -2.25rem!important}
.ps-b--5{bottom: -2.25rem!important}
.ps-l--5{left: -2.25rem!important}
.ps-t--4{top: -1.5rem!important}
.ps-r--4{right: -1.5rem!important}
.ps-b--4{bottom: -1.5rem!important}
.ps-l--4{left: -1.5rem!important}
.ps-t--3{top: -.75rem!important}
.ps-r--3{right: -.75rem!important}
.ps-b--3{bottom: -.75rem!important}
.ps-l--3{left: -.75rem!important}
.ps-t--2{top: -.375rem!important}
.ps-r--2{right: -.375rem!important}
.ps-b--2{bottom: -.375rem!important}
.ps-l--2{left: -.375rem!important}
.ps-t--1{top: -.1875rem!important}
.ps-r--1{right: -.1875rem!important}
.ps-b--1{bottom: -.1875rem!important}
.ps-l--1{left: -.1875rem!important}
.ps-t-6{top: 4.5rem!important}
.ps-r-6{right: 4.5rem!important}
.ps-b-6{bottom: 4.5rem!important}
.ps-l-6{left: 4.5rem!important}
.ps-t-7{top: 6.75rem!important}
.ps-r-7{right: 6.75rem!important}
.ps-b-7{bottom: 6.75rem!important}
.ps-l-7{left: 6.75rem!important}
.ps-t-75{top: 9rem!important}
.ps-r-75{right: 9rem!important}
.ps-b-75{bottom: 9rem!important}
.ps-l-75{left: 9rem!important}
.ps-t-8{top: 13.5rem!important}
.ps-r-8{right: 13.5rem!important}
.ps-b-8{bottom: 13.5rem!important}
.ps-l-8{left: 13.5rem!important}

@media (min-width:576px) {    
    .ps-t-sm-0{top: 0!important}
    .ps-r-sm-0{right: 0!important}
    .ps-b-sm-0{bottom: 0!important}
    .ps-l-sm-0{left: 0!important}    
    .ps-t-sm-1{top: .1875rem!important}
    .ps-r-sm-1{right: .1875rem!important}
    .ps-b-sm-1{bottom: .1875rem!important}
    .ps-l-sm-1{left: .1875rem!important}    
    .ps-t-sm-2{top: .375rem!important}
    .ps-r-sm-2{right: .375rem!important}
    .ps-b-sm-2{bottom: .375rem!important}
    .ps-l-sm-2{left: .375rem!important}    
    .ps-t-sm-3{top: .75rem!important}
    .ps-r-sm-3{right: .75rem!important}
    .ps-b-sm-3{bottom: .75rem!important}
    .ps-l-sm-3{left: .75rem!important}    
    .ps-t-sm-4{top: 1.5rem!important}
    .ps-r-sm-4{right: 1.5rem!important}
    .ps-b-sm-4{bottom: 1.5rem!important}
    .ps-l-sm-4{left: 1.5rem!important}    
    .ps-t-sm-5{top: 2.25rem!important}
    .ps-r-sm-5{right: 2.25rem!important}
    .ps-b-sm-5{bottom: 2.25rem!important}
    .ps-l-sm-5{left: 2.25rem!important}    
    .ps-t-sm--8{top: -13.5rem!important}
    .ps-r-sm--8{right: -13.5rem!important}
    .ps-b-sm--8{bottom: -13.5rem!important}
    .ps-l-sm--8{left: -13.5rem!important}    
    .ps-t-sm--7{top: -6.75rem!important}
    .ps-r-sm--7{right: -6.75rem!important}
    .ps-b-sm--7{bottom: -6.75rem!important}
    .ps-l-sm--7{left: -6.75rem!important}    
    .ps-t-sm--75{top: -6.75rem!important}
    .ps-r-sm--75{right: -6.75rem!important}
    .ps-b-sm--75{bottom: -6.75rem!important}
    .ps-l-sm--75{left: -6.75rem!important}    
    .ps-t-sm--6{top: -4.5rem!important}
    .ps-r-sm--6{right: -4.5rem!important}
    .ps-b-sm--6{bottom: -4.5rem!important}
    .ps-l-sm--6{left: -4.5rem!important}    
    .ps-t-sm--5{top: -2.25rem!important}
    .ps-r-sm--5{right: -2.25rem!important}
    .ps-b-sm--5{bottom: -2.25rem!important}
    .ps-l-sm--5{left: -2.25rem!important}    
    .ps-t-sm--4{top: -1.5rem!important}
    .ps-r-sm--4{right: -1.5rem!important}
    .ps-b-sm--4{bottom: -1.5rem!important}
    .ps-l-sm--4{left: -1.5rem!important}    
    .ps-t-sm--3{top: -.75rem!important}
    .ps-r-sm--3{right: -.75rem!important}
    .ps-b-sm--3{bottom: -.75rem!important}
    .ps-l-sm--3{left: -.75rem!important}    
    .ps-t-sm--2{top: -.375rem!important}
    .ps-r-sm--2{right: -.375rem!important}
    .ps-b-sm--2{bottom: -.375rem!important}
    .ps-l-sm--2{left: -.375rem!important}    
    .ps-t-sm--1{top: -.1875rem!important}
    .ps-r-sm--1{right: -.1875rem!important}
    .ps-b-sm--1{bottom: -.1875rem!important}
    .ps-l-sm--1{left: -.1875rem!important}    
    .ps-t-sm-6{top: 4.5rem!important}
    .ps-r-sm-6{right: 4.5rem!important}
    .ps-b-sm-6{bottom: 4.5rem!important}
    .ps-l-sm-6{left: 4.5rem!important}    
    .ps-t-sm-7{top: 6.75rem!important}
    .ps-r-sm-7{right: 6.75rem!important}
    .ps-b-sm-7{bottom: 6.75rem!important}
    .ps-l-sm-7{left: 6.75rem!important}    
    .ps-t-sm-75{top: 9rem!important}
    .ps-r-sm-75{right: 9rem!important}
    .ps-b-sm-75{bottom: 9rem!important}
    .ps-l-sm-75{left: 9rem!important}    
    .ps-t-sm-8{top: 13.5rem!important}
    .ps-r-sm-8{right: 13.5rem!important}
    .ps-b-sm-8{bottom: 13.5rem!important}
    .ps-l-sm-8{left: 13.5rem!important}    
}

@media (min-width:768px) {    
    .ps-t-md-0{top: 0!important}
    .ps-r-md-0{right: 0!important}
    .ps-b-md-0{bottom: 0!important}
    .ps-l-md-0{left: 0!important}    
    .ps-t-md-1{top: .1875rem!important}
    .ps-r-md-1{right: .1875rem!important}
    .ps-b-md-1{bottom: .1875rem!important}
    .ps-l-md-1{left: .1875rem!important}    
    .ps-t-md-2{top: .375rem!important}
    .ps-r-md-2{right: .375rem!important}
    .ps-b-md-2{bottom: .375rem!important}
    .ps-l-md-2{left: .375rem!important}    
    .ps-t-md-3{top: .75rem!important}
    .ps-r-md-3{right: .75rem!important}
    .ps-b-md-3{bottom: .75rem!important}
    .ps-l-md-3{left: .75rem!important}    
    .ps-t-md-4{top: 1.5rem!important}
    .ps-r-md-4{right: 1.5rem!important}
    .ps-b-md-4{bottom: 1.5rem!important}
    .ps-l-md-4{left: 1.5rem!important}    
    .ps-t-md-5{top: 2.25rem!important}
    .ps-r-md-5{right: 2.25rem!important}
    .ps-b-md-5{bottom: 2.25rem!important}
    .ps-l-md-5{left: 2.25rem!important}    
    .ps-t-md--8{top: -13.5rem!important}
    .ps-r-md--8{right: -13.5rem!important}
    .ps-b-md--8{bottom: -13.5rem!important}
    .ps-l-md--8{left: -13.5rem!important}    
    .ps-t-md--75{top: -6.75rem!important}
    .ps-r-md--75{right: -6.75rem!important}
    .ps-b-md--75{bottom: -6.75rem!important}
    .ps-l-md--75{left: -6.75rem!important}    
    .ps-t-md--7{top: -6.75rem!important}
    .ps-r-md--7{right: -6.75rem!important}
    .ps-b-md--7{bottom: -6.75rem!important}
    .ps-l-md--7{left: -6.75rem!important}    
    .ps-t-md--6{top: -4.5rem!important}
    .ps-r-md--6{right: -4.5rem!important}
    .ps-b-md--6{bottom: -4.5rem!important}
    .ps-l-md--6{left: -4.5rem!important}    
    .ps-t-md--5{top: -2.25rem!important}
    .ps-r-md--5{right: -2.25rem!important}
    .ps-b-md--5{bottom: -2.25rem!important}
    .ps-l-md--5{left: -2.25rem!important}    
    .ps-t-md--4{top: -1.5rem!important}
    .ps-r-md--4{right: -1.5rem!important}
    .ps-b-md--4{bottom: -1.5rem!important}
    .ps-l-md--4{left: -1.5rem!important}    
    .ps-t-md--3{top: -.75rem!important}
    .ps-r-md--3{right: -.75rem!important}
    .ps-b-md--3{bottom: -.75rem!important}
    .ps-l-md--3{left: -.75rem!important}    
    .ps-t-md--2{top: -.375rem!important}
    .ps-r-md--2{right: -.375rem!important}
    .ps-b-md--2{bottom: -.375rem!important}
    .ps-l-md--2{left: -.375rem!important}    
    .ps-t-md--1{top: -.1875rem!important}
    .ps-r-md--1{right: -.1875rem!important}
    .ps-b-md--1{bottom: -.1875rem!important}
    .ps-l-md--1{left: -.1875rem!important}    
    .ps-t-md-6{top: 4.5rem!important}
    .ps-r-md-6{right: 4.5rem!important}
    .ps-b-md-6{bottom: 4.5rem!important}
    .ps-l-md-6{left: 4.5rem!important}    
    .ps-t-md-7{top: 6.75rem!important}
    .ps-r-md-7{right: 6.75rem!important}
    .ps-b-md-7{bottom: 6.75rem!important}
    .ps-l-md-7{left: 6.75rem!important}    
    .ps-t-md-75{top: 9rem!important}
    .ps-r-md-75{right: 9rem!important}
    .ps-b-md-75{bottom: 9rem!important}
    .ps-l-md-75{left: 9rem!important}    
    .ps-t-md-8{top: 13.5rem!important}
    .ps-r-md-8{right: 13.5rem!important}
    .ps-b-md-8{bottom: 13.5rem!important}
    .ps-l-md-8{left: 13.5rem!important}    
}

@media (min-width:992px) {    
    .ps-t-lg-0{top: 0!important}
    .ps-r-lg-0{right: 0!important}
    .ps-b-lg-0{bottom: 0!important}
    .ps-l-lg-0{left: 0!important}    
    .ps-t-lg-1{top: .1875rem!important}
    .ps-r-lg-1{right: .1875rem!important}
    .ps-b-lg-1{bottom: .1875rem!important}
    .ps-l-lg-1{left: .1875rem!important}    
    .ps-t-lg-2{top: .375rem!important}
    .ps-r-lg-2{right: .375rem!important}
    .ps-b-lg-2{bottom: .375rem!important}
    .ps-l-lg-2{left: .375rem!important}    
    .ps-t-lg-3{top: .75rem!important}
    .ps-r-lg-3{right: .75rem!important}
    .ps-b-lg-3{bottom: .75rem!important}
    .ps-l-lg-3{left: .75rem!important}    
    .ps-t-lg-4{top: 1.5rem!important}
    .ps-r-lg-4{right: 1.5rem!important}
    .ps-b-lg-4{bottom: 1.5rem!important}
    .ps-l-lg-4{left: 1.5rem!important}    
    .ps-t-lg-5{top: 2.25rem!important}
    .ps-r-lg-5{right: 2.25rem!important}
    .ps-b-lg-5{bottom: 2.25rem!important}
    .ps-l-lg-5{left: 2.25rem!important}    
    .ps-t-lg--8{top: -13.5rem!important}
    .ps-r-lg--8{right: -13.5rem!important}
    .ps-b-lg--8{bottom: -13.5rem!important}
    .ps-l-lg--8{left: -13.5rem!important}    
    .ps-t-lg--75{top: -6.75rem!important}
    .ps-r-lg--75{right: -6.75rem!important}
    .ps-b-lg--75{bottom: -6.75rem!important}
    .ps-l-lg--75{left: -6.75rem!important}    
    .ps-t-lg--7{top: -6.75rem!important}
    .ps-r-lg--7{right: -6.75rem!important}
    .ps-b-lg--7{bottom: -6.75rem!important}
    .ps-l-lg--7{left: -6.75rem!important}    
    .ps-t-lg--6{top: -4.5rem!important}
    .ps-r-lg--6{right: -4.5rem!important}
    .ps-b-lg--6{bottom: -4.5rem!important}
    .ps-l-lg--6{left: -4.5rem!important}    
    .ps-t-lg--5{top: -2.25rem!important}
    .ps-r-lg--5{right: -2.25rem!important}
    .ps-b-lg--5{bottom: -2.25rem!important}
    .ps-l-lg--5{left: -2.25rem!important}    
    .ps-t-lg--4{top: -1.5rem!important}
    .ps-r-lg--4{right: -1.5rem!important}
    .ps-b-lg--4{bottom: -1.5rem!important}
    .ps-l-lg--4{left: -1.5rem!important}    
    .ps-t-lg--3{top: -.75rem!important}
    .ps-r-lg--3{right: -.75rem!important}
    .ps-b-lg--3{bottom: -.75rem!important}
    .ps-l-lg--3{left: -.75rem!important}    
    .ps-t-lg--2{top: -.375rem!important}
    .ps-r-lg--2{right: -.375rem!important}
    .ps-b-lg--2{bottom: -.375rem!important}
    .ps-l-lg--2{left: -.375rem!important}    
    .ps-t-lg--1{top: -.1875rem!important}
    .ps-r-lg--1{right: -.1875rem!important}
    .ps-b-lg--1{bottom: -.1875rem!important}
    .ps-l-lg--1{left: -.1875rem!important}    
    .ps-t-lg-6{top: 4.5rem!important}
    .ps-r-lg-6{right: 4.5rem!important}
    .ps-b-lg-6{bottom: 4.5rem!important}
    .ps-l-lg-6{left: 4.5rem!important}    
    .ps-t-lg-7{top: 6.75rem!important}
    .ps-r-lg-7{right: 6.75rem!important}
    .ps-b-lg-7{bottom: 6.75rem!important}
    .ps-l-lg-7{left: 6.75rem!important}    
    .ps-t-lg-75{top: 9rem!important}
    .ps-r-lg-75{right: 9rem!important}
    .ps-b-lg-75{bottom: 9rem!important}
    .ps-l-lg-75{left: 9rem!important}    
    .ps-t-lg-8{top: 13.5rem!important}
    .ps-r-lg-8{right: 13.5rem!important}
    .ps-b-lg-8{bottom: 13.5rem!important}
    .ps-l-lg-8{left: 13.5rem!important}    
}

@media (min-width:1200px) {    
    .ps-t-xl-0{top: 0!important}
    .ps-r-xl-0{right: 0!important}
    .ps-b-xl-0{bottom: 0!important}
    .ps-l-xl-0{left: 0!important}    
    .ps-t-xl-1{top: .1875rem!important}
    .ps-r-xl-1{right: .1875rem!important}
    .ps-b-xl-1{bottom: .1875rem!important}
    .ps-l-xl-1{left: .1875rem!important}    
    .ps-t-xl-2{top: .375rem!important}
    .ps-r-xl-2{right: .375rem!important}
    .ps-b-xl-2{bottom: .375rem!important}
    .ps-l-xl-2{left: .375rem!important}    
    .ps-t-xl-3{top: .75rem!important}
    .ps-r-xl-3{right: .75rem!important}
    .ps-b-xl-3{bottom: .75rem!important}
    .ps-l-xl-3{left: .75rem!important}    
    .ps-t-xl-4{top: 1.5rem!important}
    .ps-r-xl-4{right: 1.5rem!important}
    .ps-b-xl-4{bottom: 1.5rem!important}
    .ps-l-xl-4{left: 1.5rem!important}    
    .ps-t-xl-5{top: 2.25rem!important}
    .ps-r-xl-5{right: 2.25rem!important}
    .ps-b-xl-5{bottom: 2.25rem!important}
    .ps-l-xl-5{left: 2.25rem!important}    
    .ps-t-xl--8{top: -13.5rem!important}
    .ps-r-xl--8{right: -13.5rem!important}
    .ps-b-xl--8{bottom: -13.5rem!important}
    .ps-l-xl--8{left: -13.5rem!important}    
    .ps-t-xl--75{top: -6.75rem!important}
    .ps-r-xl--75{right: -6.75rem!important}
    .ps-b-xl--75{bottom: -6.75rem!important}
    .ps-l-xl--75{left: -6.75rem!important}    
    .ps-t-xl--7{top: -6.75rem!important}
    .ps-r-xl--7{right: -6.75rem!important}
    .ps-b-xl--7{bottom: -6.75rem!important}
    .ps-l-xl--7{left: -6.75rem!important}    
    .ps-t-xl--6{top: -4.5rem!important}
    .ps-r-xl--6{right: -4.5rem!important}
    .ps-b-xl--6{bottom: -4.5rem!important}
    .ps-l-xl--6{left: -4.5rem!important}    
    .ps-t-xl--5{top: -2.25rem!important}
    .ps-r-xl--5{right: -2.25rem!important}
    .ps-b-xl--5{bottom: -2.25rem!important}
    .ps-l-xl--5{left: -2.25rem!important}    
    .ps-t-xl--4{top: -1.5rem!important}
    .ps-r-xl--4{right: -1.5rem!important}
    .ps-b-xl--4{bottom: -1.5rem!important}
    .ps-l-xl--4{left: -1.5rem!important}    
    .ps-t-xl--3{top: -.75rem!important}
    .ps-r-xl--3{right: -.75rem!important}
    .ps-b-xl--3{bottom: -.75rem!important}
    .ps-l-xl--3{left: -.75rem!important}    
    .ps-t-xl--2{top: -.375rem!important}
    .ps-r-xl--2{right: -.375rem!important}
    .ps-b-xl--2{bottom: -.375rem!important}
    .ps-l-xl--2{left: -.375rem!important}    
    .ps-t-xl--1{top: -.1875rem!important}
    .ps-r-xl--1{right: -.1875rem!important}
    .ps-b-xl--1{bottom: -.1875rem!important}
    .ps-l-xl--1{left: -.1875rem!important}    
    .ps-t-xl-6{top: 4.5rem!important}
    .ps-r-xl-6{right: 4.5rem!important}
    .ps-b-xl-6{bottom: 4.5rem!important}
    .ps-l-xl-6{left: 4.5rem!important}    
    .ps-t-xl-7{top: 6.75rem!important}
    .ps-r-xl-7{right: 6.75rem!important}
    .ps-b-xl-7{bottom: 6.75rem!important}
    .ps-l-xl-7{left: 6.75rem!important}    
    .ps-t-xl-75{top: 9rem!important}
    .ps-r-xl-75{right: 9rem!important}
    .ps-b-xl-75{bottom: 9rem!important}
    .ps-l-xl-75{left: 9rem!important}    
    .ps-t-xl-8{top: 13.5rem!important}
    .ps-r-xl-8{right: 13.5rem!important}
    .ps-b-xl-8{bottom: 13.5rem!important}
    .ps-l-xl-8{left: 13.5rem!important}    
}

@media (min-width: 1200px){
    .position-xl-absolute{position: absolute}
    .position-xl-relative{position: relative}
    .position-xl-fixed{position: fixed}
}

@media (min-width: 992px){
    .position-xs-absolute{position: absolute}
    .position-xs-relative{position: relative}
    .position-xs-fixed{position: fixed}
}

@media (min-width: 768px){
    .position-md-absolute{position: absolute}
    .position-md-relative{position: relative}
    .position-md-fixed{position: fixed}
}

@media (min-width: 576px){
    .position-sm-absolute{position: absolute}
    .position-sm-relative{position: relative}
    .position-sm-fixed{position: fixed}
}