.avatar.background{
	background: #e3ebf6;
	background-size: cover;
	background-position: center; 
}

.select-icon-box{
    position: absolute;
    top: 66px;
    background: white;
    padding: 16px;
    left: 0;
    right: 0;
    z-index: -1;
    box-shadow: 0px 5px 20px #3b4b630a;
    border-radius: 4px;
    border: 1px solid #d2ddec;
    border-top: 0;
    height: 0;
    opacity: 0;
    overflow-y: scroll;
}

.select-icon-box.active{
	height: 260px;
	opacity: 1;
    z-index: 50;
}

.select-icon-box span{
	float: left;
	height: 34px;
	width: 45px;
	padding: 5px;
	border-radius: 4px;
	text-align: center;
	transition: all 0.4s ease;
}

.select-icon-box span:hover{
	cursor: pointer;
	background: #f3f5f8;
}

.formulario label,
.modal-content label{
	color: #6e84a3;
	font-size: 0.85rem;
	margin-bottom: .2rem;
}

#confirm.modal{
	z-index: 1052;
}

#feedback{
	top: 4rem;
	left: 50%;
	opacity: 0;
	z-index: -1;
	color: #fff;	
	font-weight: 700;
	position: fixed;
	border-radius: 6px;
	padding: 15px 30px;
	transition: all 0.2s ease;
	transform: translate(-50%, 0);
}

#feedback.visible{z-index: 10000;opacity: 1;top: 3rem;}
#feedback.load{background: #6e84a3;}
#feedback.erro{background: #d9534f;}
#feedback.check{background: #02B875;}


#blog-editor{
	display: block;
	width: calc(100% - -48px);
	margin-bottom: 1.5rem;
	position: relative;
	margin: 0 -24px;
	padding: 8px 24px 16px;
}

.editor-block{
	display: block;
	width: 100%;
	font-size: 16px;
	padding: 16px 0;
	line-height: 24px;
	position: relative;
	*border-bottom: 1px solid #efefef;
}

.editor-block:hover .handle{
	opacity: 1;
}

.editable_content,
.editable_blocks{
	width: 0;
	height: 0;
	opacity: 0;
}

#mensagens tr{cursor: pointer;}
#mensagens tr .item-novo span{color: #dcdfe4;}
#mensagens tr.new{font-weight: bold;}
#mensagens tr.new .item-novo span{color: #00d97e;}

.box-options{
	top: 14px;
	z-index: 10;
	right: -40px;
	width: 106px;
	height: 30px;
	text-align: right;
	position: absolute;
}

.box-options .btn{
	width: 30px;
	padding: 5px;
	height: 30px;
	margin: 0 2px;
	font-size: 13px;
	text-align: center;
	border-radius: 50px !important;
	position: absolute;
	opacity: 0;
	right: 0;
	transition: all 0.2s ease;
}

.box-options .btn.editor-btn-plus{
	opacity: 1;
	width: 30px;
	height: 30px;
	color: #fff;
	position: relative;
	background: #383838;
	border-radius: 16px 16px 16px 6px !important;

	-webkit-transition: -webkit-transform 250ms;
	transition: transform 250ms;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}

.box-options.active .btn.editor-btn-plus{
	-webkit-transition: -webkit-transform 0;
	transition: transform 0;
	-webkit-transform: rotate(0deg);
	-ms-transform: rotate(0deg);
	transform: rotate(0deg);
}


.box-options.active .btn.editor-btn-handle,
.box-options.active .btn.editor-btn-remove{
	opacity: 1;
	right: auto;
}

.box-options.active .btn.editor-btn-handle{right: 34px;}
.box-options.active .btn.editor-btn-remove{right: 68px;}

.p-image{
	width: 100%;
}

.editor-block .handle:hover{
	color: #ffffff;
	background: #4581ec;
}

.editor-block.text-box{
	padding-bottom: 0;
}

.editor-block figure{
	margin: 0;
}

.editor-block b, .editor-block strong{
	font-weight: bolder;
}

.editor-block img{
    display: block;
    max-width: 100%;
    margin: 0 auto;
    border-radius: 6px;
    background: #f8f9fa;
}

.editor-block object{
	width: 100%;
	display: block;
	background: #f8f9fa;
	border-radius: 6px;
	text-align: center;
	height: 200px;
}

.editor-block.youtube-box iframe{
	width: 100%;
	max-width: 320px;
	height: 100%;
	display: inline-block;
	background: #000;
}

.editor-block.youtube-box input{
	width: 100%;
	border: 0;
}

.editor-block.youtube-box input::-webkit-input-placeholder {color: #cecece;font-style: italic;}
.editor-block.youtube-box input::-moz-placeholder {color: #cecece;font-style: italic;}
.editor-block.youtube-box input:-ms-input-placeholder {color: #cecece;font-style: italic;}
.editor-block.youtube-box input:-moz-placeholder {color: #cecece;font-style: italic;}

.editor-block div:focus,
.editor-block input:focus{
    outline: none;
}

.card-menu{margin: 8px;}
.card-menu a{color: #00000057;}
.card-menu a:hover{color: #000;}
.card-menu a.active{color: #383838;}

.subitem{
	margin-top: -1px;
	background-color: #fff;
	border-top: 1px solid #e3ebf6;
	border-bottom: 1px solid #e3ebf6;
}

.handle-move{
	color: #95a6bd;
	cursor: pointer;
}

ul.nav-sortable{
	margin: 0;
	padding: 0;
	list-style: none;
}

ul.nav-sortable li{
	width: 100%;
	display: block;
}

ul.nav-sortable li a{
	cursor: move;
	display: block;
	padding: 8px 16px;
	color: #1a2b3f;
	font-weight: 600;
	border-bottom: 1px solid #e9ecef;
}

ul.nav-sortable li i{
	margin: 8px 8px 0 0;
	font-size: 11px;
	opacity: 0.3;
	float: left;
}

ul.nav-sortable li ul{
	min-height: 8px;
	list-style: none;
}

.ui-sortable-placeholder{
	width: 100%;
	padding: 8px;
	background: #e9ecef;
	margin: 8px 0;
}

/* Paginate */

ul.pagination {
	display: block;
	text-align: right;
	padding-left: 0;
	list-style: none;
	border-radius: .375rem;
	padding: 1rem;
}

ul.pagination li{
	text-align: center;
	display: inline-block;
}

ul.pagination a.page {
	position: relative;
	height: 32px;
	width: 32px;
	display: block;
	margin: 0 4px;
	font-size: 12px;
	line-height: 32px;
	color: #6d83a2;
	background-color: #f9fbfd;
	border-radius: 50px;
}

ul.pagination a.page:hover {
    z-index: 2;
    text-decoration: none;
    color: #12263f;
    border-color: #e3ebf6;
    background-color: #f9fbfd
}

ul.pagination a.page:focus {
    z-index: 2;
    outline: 0;
    box-shadow: 0 0 0 .15rem rgba(44, 123, 229, .25)
}

ul.pagination a.page:not(:disabled):not(.disabled) {
    cursor: pointer
}

ul.pagination li.active a.page {
    z-index: 1;
    color: #fff;
    border-color: #383838;
    background-color: #383838
}

ul.pagination li.disabled a.page {
    cursor: auto;
    pointer-events: none;
    color: #95aac9;
    width: auto;
    border-color: #e3ebf6;
    background-color: #fff
}

ul.pagination li.disabled:first-child a.page,
ul.pagination li.disabled:last-child a.page {
	border: 0;
}
