@font-face {
    font-family: 'Nexa Rust Sans Black 01';
    src: url('NexaRustSans-Black01.eot');
    src: url('NexaRustSans-Black01.eot?#iefix') format('embedded-opentype'),
        url('NexaRustSans-Black01.woff2') format('woff2'),
        url('NexaRustSans-Black01.woff') format('woff'),
        url('NexaRustSans-Black01.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Nexa Rust Script B 00';
    src: url('NexaRustScriptB-00.eot');
    src: url('NexaRustScriptB-00.eot?#iefix') format('embedded-opentype'),
        url('NexaRustScriptB-00.woff2') format('woff2'),
        url('NexaRustScriptB-00.woff') format('woff'),
        url('NexaRustScriptB-00.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Museo Sans Rounded';
    src: url('MuseoSansRounded-500.eot');
    src: url('MuseoSansRounded-500.eot?#iefix') format('embedded-opentype'),
        url('MuseoSansRounded-500.woff2') format('woff2'),
        url('MuseoSansRounded-500.woff') format('woff'),
        url('MuseoSansRounded-500.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Museo Sans Rounded';
    src: url('MuseoSansRounded-900.eot');
    src: url('MuseoSansRounded-900.eot?#iefix') format('embedded-opentype'),
        url('MuseoSansRounded-900.woff2') format('woff2'),
        url('MuseoSansRounded-900.woff') format('woff'),
        url('MuseoSansRounded-900.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}